<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
        <title>Emmanuel Morfiadakis - Portfolio</title>
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/export/style/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/export/style/print.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/anu/static/export/style/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/anu/static/export/style/print.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/style/views.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/style/tinymce.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/style/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/style/style-blessed1.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/style/datepicker.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/style/cookieconsent.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/anu/static/style/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/anu/static/style/style-blessed1.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/local/static/style/style-dist.css">

    </head>
    <body>
        <header class="header navbar navbar-default no-site-messages">
            <div class="container">
                <div class="logo-area" id="logo-area">
                    <!-- Hardcoded url to ANU website -->
                    <a class="logo" href="http://www.anu.edu.au">
                        <img alt="ANU ePortfolios" src="../../static/theme/anu/static/images/site-logo.png">
                    </a>
                </div>
            </div>
         </header>
         <div class="main-content-container">
           <div class="container main-content">
              <div class="row">
                <main id="main" class="main">
                  <h1><a href="../../index.html">Week 4</a></h1>
                  <div id="content">
                    <div id="breadcrumbs" class="breadcrumbs">
                    <ul>
                        <li>You are here: <a href="../../index.html">Home</a></li>
                            <li>&raquo; Pages</li>
                            <li>&raquo; <a href="index.html">Week 4</a></li>
    
                    </ul>
                  </div>
                  <div id="breadcrumbs-footer"></div>


<div class="breadcrumbs collection">
   <ul>
     <li class="collectionname">COMP3100 Semester 2 portfolio</li>
     | <li><a href="../../views/%57%65%65%6b%2d%33/index.html">Week 3</a></li>
     | <li class="selected"><a href="../../views/%57%65%65%6b%2d%34/index.html">Week 4</a></li>
     | <li><a href="../../views/%57%65%65%6b%2d%36/index.html">Week 6</a></li>
     | <li><a href="../../views/%57%65%65%6b%2d%37/index.html">Week 7</a></li>
     | <li><a href="../../views/%4d%69%64%2d%73%65%6d%65%73%74%65%72%2d%62%72%65%61%6b/index.html">Mid semester break</a></li>
     | <li><a href="../../views/%57%65%65%6b%2d%38%2d%61%6e%64%2d%57%65%65%6b%2d%39/index.html">Week 8 and Week 9</a></li>
     | <li><a href="../../views/%57%65%65%6b%2d%31%30/index.html">Week 10</a></li>
     | <li><a href="../../views/%57%65%65%6b%2d%31%31/index.html">Week 11</a></li>
     | <li><a href="../../views/%46%69%6e%61%6c%2d%45%6e%74%72%79%2d/index.html">Final Entry </a></li>

   </ul>
</div>
<div class="cb"></div>


<p id="view-description"><p>COMP3100 portfolio entry #2</p></p>

<div id="row_1" class="clearfix">
    <div class="row-content">
    <div id="row_1_column_1" class="column-layout columns2 first col-width-67" style="width:65%;">
    <div class="column-content">
        <div class="bt-text panel panel-secondary clearfix " id="blockinstance_3690">
            <h3 class="title panel-heading js-heading">
            

            Where we are now
            


            

        </h3>
    

    <div class="block"  id="blockinstance_3690_target" data-blocktype-noajax="3690">
        <div class="textblock panel-body flush">
<p>Right, so this is week 4 of semester two. As I said in last week's entry, we have finished our MVP, and we are now adding additional features to our product, and refining existing ones. In addition, we are focusing a lot on the interface of the app. We've hired graphic designers to create renders and mock ups that we use to change the look and feel of PairFit. As such, most of my time this week has been spent in CSS editing and scouting the world wide web for plugins that can help us improve our terribly-looking UI.</p>
<p>At the same time, we are also working on some marketing tasks. As an example, we've already secured the name PairFit in the Google Play store. In addition, we have created a <a title="click me!" href="https://www.facebook.com/Pairfitness/?fref=ts">Facebook page</a> and we are in the process of securing the app in the iOS store, just in case someone decides to register the Pairfit name before us, for whatever reason.</p>
<p>On a more technical side, we have added some more functionality to our product. This was the result of a change in requirements that occurred during the mid year break. According to the original plan, we are currently supposed to be refining the functionality that we completed in semester one. Instead, we have to build on adding the possibility to create fitness events, that groups of people can attend,. Originally, we, the team, planned to carry on with the original plan and tell the clients that their demands would distract us, and there is a high chance that we won't be able to meet them. After several meetings though, we went through the newly proposed plan and decided that the new requirements would potentially make the end product more valuable for the users. In addition, after doing some estimation, we realised that we have enough time to revise our backlog. As such, we collectively decided to commit to the new plan.</p>
<p>In summary, the team is currently split in three groups:</p>
<ol><li>Fixing bugs and refining the UI</li>
<li>Adding new functionality</li>
<li>Focusing on marketing and research and performing other high level tasks</li>
</ol>
</div>


        
    </div>
</div>

    </div>
</div>
<div id="row_1_column_2" class="column-layout columns2 last col-width-33" style="width:31%;">
    <div class="column-content">
        <div class="bt-image panel panel-secondary clearfix " id="blockinstance_3706">
            <h3 class="title panel-heading js-heading">
            

            PairFit placeholder in Google Play
            


            

        </h3>
    

    <div class="block"  id="blockinstance_3706_target" data-blocktype-noajax="3706">
        <div class="imageblock panel-body" itemscope itemtype="http://schema.org/ImageObject">
    <div class="image">
        <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=183369&amp;view=664">
            <img src="../../files/file/images/pairfit.png.1" alt="pairfit.png.1" itemprop="contentURL">
        </a>
    </div>

    
</div>

    <div class="comments pull-left">
        
                    <a class="addcomment link-blocktype" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=664&amp;artefact=183369">
                <span class="icon icon-arrow-circle-right" role="presentation" aria-hidden="true"></span>
                Add comment
            </a>
        
    </div>

    <div class="feedback modal modal-docked" id="feedbacktable_3706">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <button class="deletebutton close" data-dismiss="modal-docked">
                        <span class="times">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title pull-left">
                        <span class="icon icon-lg icon-comments left" role="presentation" aria-hidden="true"></span>
                        Comments - pairfit.png.1
                    </h4>
                                        <a class="addcomment pull-right" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=664&amp;artefact=183369">
                        Add comment
                        <span class="icon icon-arrow-right right" role="presentation" aria-hidden="true"></span>
                    </a>
                    
                </div>
                <div class="modal-body flush">
                <!-- The "feedbacktable" class is used as an identifier by Javascript -->
<div class="list-group list-group-lite">

</div>

                </div>
            </div>
        </div>
    </div>




        
                            <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=183369&amp;view=664&amp;block=3706" class="detail-link link-blocktype"><span class="icon icon-link" role="presentation" aria-hidden="true"></span> Details</a>
            
        
    </div>
</div>
<div class="bt-image panel panel-secondary clearfix " id="blockinstance_3707">
            <h3 class="title panel-heading js-heading">
            

            Our sprint for this week
            


            

        </h3>
    

    <div class="block"  id="blockinstance_3707_target" data-blocktype-noajax="3707">
        <div class="imageblock panel-body" itemscope itemtype="http://schema.org/ImageObject">
    <div class="image">
        <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=183370&amp;view=664">
            <img src="../../files/file/images/backlog_wk2.png" alt="backlog_wk2.png" itemprop="contentURL">
        </a>
    </div>

    
</div>

    <div class="comments pull-left">
        
                    <a class="addcomment link-blocktype" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=664&amp;artefact=183370">
                <span class="icon icon-arrow-circle-right" role="presentation" aria-hidden="true"></span>
                Add comment
            </a>
        
    </div>

    <div class="feedback modal modal-docked" id="feedbacktable_3707">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <button class="deletebutton close" data-dismiss="modal-docked">
                        <span class="times">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title pull-left">
                        <span class="icon icon-lg icon-comments left" role="presentation" aria-hidden="true"></span>
                        Comments - backlog_wk2.png
                    </h4>
                                        <a class="addcomment pull-right" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=664&amp;artefact=183370">
                        Add comment
                        <span class="icon icon-arrow-right right" role="presentation" aria-hidden="true"></span>
                    </a>
                    
                </div>
                <div class="modal-body flush">
                <!-- The "feedbacktable" class is used as an identifier by Javascript -->
<div class="list-group list-group-lite">

</div>

                </div>
            </div>
        </div>
    </div>




        
                            <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=183370&amp;view=664&amp;block=3707" class="detail-link link-blocktype"><span class="icon icon-link" role="presentation" aria-hidden="true"></span> Details</a>
            
        
    </div>
</div>
<div class="bt-filedownload panel panel-secondary clearfix " id="blockinstance_3730">
            <h3 class="title panel-heading js-heading">
            

            Sample video of the tasks I completed this week
            


            

        </h3>
    

    <div class="block"  id="blockinstance_3730_target" data-blocktype-noajax="3730">
        <ul class="list-group">

</ul>



        
    </div>
</div>

    </div>
</div>

    </div>
</div>
<div id="row_2" class="clearfix">
    <div class="row-content">
    <div id="row_2_column_1" class="column-layout columns2 first col-width-67" style="width:65%;">
    <div class="column-content">
        <div class="bt-text panel panel-secondary clearfix " id="blockinstance_3708">
            <h3 class="title panel-heading js-heading">
            

            My contributions this week
            


            

        </h3>
    

    <div class="block"  id="blockinstance_3708_target" data-blocktype-noajax="3708">
        <div class="textblock panel-body flush">
<p>This week, my roles revolved around programming and designing. In particular, I started working on "events", as I mentioned above, since this is the most important piece of functionality that is left for us to complete.</p>
<p>Getting into more details, I has to work on both the frontend and the backend of the app. Starting from the backend, I added new tables to the database of the app, and modified our server code slightly to allow users to create very basic events. This task was relatively easy and straightforward, as I've had to do similar things in the past. I always choose my tasks in a way that I get to do a bit of everything. As such, my technical skills have stayed pretty sharp. I was able to complete everything within two days. A snapshot of the git log that contains some of the work I contributed can be seen to the left.</p>
<p>For the frontend side, I had to refresh my CSS skills and knowledge, and design the event cards. Even though I was given a mock up of how these cards should look like, I had to start coding from scratch. Unfortunately, a good mechanism for converting images to code does not seem to exist, so I could not use the mock ups directly. As such, it was all CSS and HTML. This task took me a while, mostly because I am not that experienced in designing things. Nevertheless, I was able to complete this task on time, but I was a bit frustrated at the end.</p>
<p>A really basic template of the HTML designing I did this week can be seen to the right. Unfortunately, ePortfolio does not allow CSS files. Otherwise, the end result would be prettier. Nevertheless, this is the basis of the event cards we plan to use.</p>
<p> </p>
</div>


        
    </div>
</div>

    </div>
</div>
<div id="row_2_column_2" class="column-layout columns2 last col-width-33" style="width:31%;">
    <div class="column-content">
        <div class="bt-image panel panel-secondary clearfix " id="blockinstance_3712">
            <h3 class="title panel-heading js-heading">
            

            Git Log
            


            

        </h3>
    

    <div class="block"  id="blockinstance_3712_target" data-blocktype-noajax="3712">
        <div class="imageblock panel-body" itemscope itemtype="http://schema.org/ImageObject">
    <div class="image">
        <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=183373&amp;view=664">
            <img src="../../files/file/images/git_1.png" alt="git_1.png" itemprop="contentURL">
        </a>
    </div>

    
</div>

    <div class="comments pull-left">
        
                    <a class="addcomment link-blocktype" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=664&amp;artefact=183373">
                <span class="icon icon-arrow-circle-right" role="presentation" aria-hidden="true"></span>
                Add comment
            </a>
        
    </div>

    <div class="feedback modal modal-docked" id="feedbacktable_3712">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <button class="deletebutton close" data-dismiss="modal-docked">
                        <span class="times">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title pull-left">
                        <span class="icon icon-lg icon-comments left" role="presentation" aria-hidden="true"></span>
                        Comments - git_1.png
                    </h4>
                                        <a class="addcomment pull-right" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=664&amp;artefact=183373">
                        Add comment
                        <span class="icon icon-arrow-right right" role="presentation" aria-hidden="true"></span>
                    </a>
                    
                </div>
                <div class="modal-body flush">
                <!-- The "feedbacktable" class is used as an identifier by Javascript -->
<div class="list-group list-group-lite">

</div>

                </div>
            </div>
        </div>
    </div>




        
                            <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=183373&amp;view=664&amp;block=3712" class="detail-link link-blocktype"><span class="icon icon-link" role="presentation" aria-hidden="true"></span> Details</a>
            
        
    </div>
</div>
<div class="bt-html panel panel-secondary clearfix " id="blockinstance_3714">
            <h3 class="title panel-heading js-heading">
            

            Event Card template
            


            

        </h3>
    

    <div class="block"  id="blockinstance_3714_target" data-blocktype-noajax="3714">
        <div class="panel-body">

<div class="chat-icon icon-left ion-chatbubbles"></div>
  <div class="button-bar">
      <a class="button tab-events">Pending</a>
      <a class="button tab-events">Upcoming</a>
    </div>
    <div class="list card event-card">

      <div class="item item-avatar">
        
        Hannah has invited you to <br><i class="icon ion-android-walk activity"></i> <b>Afternoon Run</b>
      </div>

      <div class="item item-image">
        <img src="http://edge.alluremedia.com.au/m/g/2015/10/shutterstock_112330748_1080.jpg" alt="shutterstock_112330748_1080.jpg"></div>
      <div class="date">
        <div class="number">21</div>
        <div class="month">July</div>
      </div>
      <div class="description">
        <div class="time">10:30pm Wednesday</div>
        <div class="location"> Lake Ginnenderra, Belconnen</div>
      </div>
      <div class="footer">
        
          Invite
        
        
          <i class="icon ion-android-star-outline"></i>
          Commit
        
        
          Info
        
      </div>
    </div>
    <div class="list card event-card">
      <div class="item item-avatar">
        
        Hannah has invited you to <br><i class="icon ion-android-walk activity"></i> <b>Afternoon Run</b>
      </div>

      <div class="item item-image">
        <img src="http://edge.alluremedia.com.au/m/g/2015/10/shutterstock_112330748_1080.jpg" alt="shutterstock_112330748_1080.jpg"></div>
      <div class="date">
        <div class="number">21</div>
        <div class="month">July</div>
      </div>
      <div class="description">
          <div class="time">10:30pm Wednesday</div>
          <div class="location"> Lake Ginnenderra, Belconnen</div>
      </div>
      <div class="footer">
          
            <i class="icon ion-ios-plus"></i>
            Invite
          
          
            <i class="icon ion-android-star-outline"></i>
            Commit
          
          
            <i class="icon ion-information-circled"></i>
            Info
          
      </div>
    </div>


  
</div>
    <div class="comments pull-left">
        
                    <a class="addcomment link-blocktype" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=664&amp;artefact=183382">
                <span class="icon icon-arrow-circle-right" role="presentation" aria-hidden="true"></span>
                Add comment
            </a>
        
    </div>

    <div class="feedback modal modal-docked" id="feedbacktable_3714">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <button class="deletebutton close" data-dismiss="modal-docked">
                        <span class="times">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title pull-left">
                        <span class="icon icon-lg icon-comments left" role="presentation" aria-hidden="true"></span>
                        Comments - tab-events.html
                    </h4>
                                        <a class="addcomment pull-right" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=664&amp;artefact=183382">
                        Add comment
                        <span class="icon icon-arrow-right right" role="presentation" aria-hidden="true"></span>
                    </a>
                    
                </div>
                <div class="modal-body flush">
                <!-- The "feedbacktable" class is used as an identifier by Javascript -->
<div class="list-group list-group-lite">

</div>

                </div>
            </div>
        </div>
    </div>





        
                            <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=183382&amp;view=664&amp;block=3714" class="detail-link link-blocktype"><span class="icon icon-link" role="presentation" aria-hidden="true"></span> Details</a>
            
        
    </div>
</div>

    </div>
</div>

    </div>
</div>
<div id="row_3" class="clearfix">
    <div class="row-content">
    <div id="row_3_column_1" class="column-layout columns1 first last col-width-100" style="width: 100%;">
    <div class="column-content">
        <div class="bt-text panel panel-secondary clearfix " id="blockinstance_3711">
            <h3 class="title panel-heading js-heading">
            

            Closing thoughts
            


            

        </h3>
    

    <div class="block"  id="blockinstance_3711_target" data-blocktype-noajax="3711">
        <div class="textblock panel-body flush">
<p>Overall, the project is proceeding smoothly and as expected. However, there are some things that are bothering me.</p>
<p>The first concern is testing. Even though we've settled on a <a href="http://www.protractortest.org/#/">framework</a> for at least 4 months now, we haven't been testing extensively. Even though we have adopted an Agile approach, we haven't had iterative testing yet, which is one of the core principles of Agile (<a href="http://www.tutorialspoint.com/software_testing_dictionary/agile_testing.htm">Source</a>). I strongly believe that we should allocate at least one member to the testing department, since we are getting close to launch. This was also stressed out in the tutor meeting we had this week. During the next team meeting, I'll definitely try and bring this issue up for discussion.</p>
<p>The second concern has to do with the decision to go live before the end of September. Even though this was mutually agreed by the whole team, I don't think we'll be able to make it. It might be wise to push back the release by a month. My point is, there are some things that are still unclear: When will we stop developing? When will we start stress testing the servers? How will be able to serve a large number of users? These are things still present in our risk log, but so far we haven't done anything to eliminate them from it. As such, I feel like we are slightly unprepared.</p>
<p>On a lighter note, we have been able to maintain our momentum and our progress so far has been consistent. Everyone is able to make it to the meetings and the development sessions, and we have really bonded as a team over the course of the mid year break. Our client, Jarrod, is really understanding, and his contributions have been helpful. No one has lost their passion, and we are still going strong. We were able to confirm this at the tutor meeting as well. Even though the tutor, Richard Jones, pointed out some aspects of our project that we need to improve, the overall feedback we got was encouraging. </p>
<p> </p>
</div>


        
    </div>
</div>

    </div>
</div>

    </div>
</div>




            </main>
          </div>
        </div>
        <div id="footer">
            <p>Export generated for Emmanuel Morfiadakis on 02 July 2018, 12:14 AM, from their portfolio at <a href="https://eportfolio.anu.edu.au/">ANU ePortfolios</a></p>
        </div>
    </body>
</html>

