<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
        <title>Emmanuel Morfiadakis - Portfolio</title>
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/export/style/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/export/style/print.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/anu/static/export/style/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/anu/static/export/style/print.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/style/views.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/style/tinymce.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/style/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/style/style-blessed1.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/style/datepicker.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/style/cookieconsent.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/anu/static/style/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/anu/static/style/style-blessed1.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/local/static/style/style-dist.css">

    </head>
    <body>
        <header class="header navbar navbar-default no-site-messages">
            <div class="container">
                <div class="logo-area" id="logo-area">
                    <!-- Hardcoded url to ANU website -->
                    <a class="logo" href="http://www.anu.edu.au">
                        <img alt="ANU ePortfolios" src="../../static/theme/anu/static/images/site-logo.png">
                    </a>
                </div>
            </div>
         </header>
         <div class="main-content-container">
           <div class="container main-content">
              <div class="row">
                <main id="main" class="main">
                  <h1><a href="../../index.html">Week 3</a></h1>
                  <div id="content">
                    <div id="breadcrumbs" class="breadcrumbs">
                    <ul>
                        <li>You are here: <a href="../../index.html">Home</a></li>
                            <li>&raquo; Pages</li>
                            <li>&raquo; <a href="index.html">Week 3</a></li>
    
                    </ul>
                  </div>
                  <div id="breadcrumbs-footer"></div>


<div class="breadcrumbs collection">
   <ul>
     <li class="collectionname">COMP3100 Semester 2 portfolio</li>
     | <li class="selected"><a href="../../views/%57%65%65%6b%2d%33/index.html">Week 3</a></li>
     | <li><a href="../../views/%57%65%65%6b%2d%34/index.html">Week 4</a></li>
     | <li><a href="../../views/%57%65%65%6b%2d%36/index.html">Week 6</a></li>
     | <li><a href="../../views/%57%65%65%6b%2d%37/index.html">Week 7</a></li>
     | <li><a href="../../views/%4d%69%64%2d%73%65%6d%65%73%74%65%72%2d%62%72%65%61%6b/index.html">Mid semester break</a></li>
     | <li><a href="../../views/%57%65%65%6b%2d%38%2d%61%6e%64%2d%57%65%65%6b%2d%39/index.html">Week 8 and Week 9</a></li>
     | <li><a href="../../views/%57%65%65%6b%2d%31%30/index.html">Week 10</a></li>
     | <li><a href="../../views/%57%65%65%6b%2d%31%31/index.html">Week 11</a></li>
     | <li><a href="../../views/%46%69%6e%61%6c%2d%45%6e%74%72%79%2d/index.html">Final Entry </a></li>

   </ul>
</div>
<div class="cb"></div>


<p id="view-description"><p>COMP3100 portfolio entry #1</p></p>

<div id="row_1" class="clearfix">
    <div class="row-content">
    <div id="row_1_column_1" class="column-layout columns1 first last col-width-100" style="width: 100%;">
    <div class="column-content">
        <div class="bt-text panel panel-secondary clearfix " id="blockinstance_2695">
            <h3 class="title panel-heading js-heading">
            

            Introduction
            


            

        </h3>
    

    <div class="block"  id="blockinstance_2695_target" data-blocktype-noajax="2695">
        <div class="textblock panel-body flush">
<p>To anyone that is reading these lines, welcome to my TechLauncher portfolio! This is the place where I'll be showcasing my involvement in the TechLauncher project I joined in semester 1, 2016. At it's core, "<strong>TechLauncher is an ANU initiative which enables students from any discipline to develop the research and professional skills required to use technology to bring great ideas to life and have a positive impact on our society." (<a href="https://cs.anu.edu.au/TechLauncher/">Source</a>).</strong> </p>
<p>In <strong>TechLauncher</strong>, we are required to join a project and develop a <strong>software</strong>-<strong>related</strong> solution to a problem. Being an <strong>Advanced</strong> <strong>Computing</strong> student myself, my contributions have been programming-related.</p>
<p>This is actually my second semester doing this course. Since we weren't required to maintain a portfolio during the first semester, I shall attempt to provide a brief summary of my project's progress up until now. I'll mainly talk about the problem we are trying to solve, and try to explain the nature of the work we're doing. In future entries, I'll be talking about the project on a week by week basis and mostly focus on my own work, so I would <strong>recommend</strong> reading this entry, as I'll start <strong>assuming</strong> that readers are already familiar with <strong>what I'm working on</strong> in the future.</p>
<p> </p>
<p>In any case, let's get started!</p>
</div>


        
    </div>
</div>

    </div>
</div>

    </div>
</div>
<div id="row_2" class="clearfix">
    <div class="row-content">
    <div id="row_2_column_1" class="column-layout columns2 first col-width-50" style="width:48%;">
    <div class="column-content">
        <div class="bt-image panel panel-secondary clearfix " id="blockinstance_2697">
            <h3 class="title panel-heading js-heading">
            

            PairFit Logo
            


            

        </h3>
    

    <div class="block"  id="blockinstance_2697_target" data-blocktype-noajax="2697">
        <div class="imageblock panel-body" itemscope itemtype="http://schema.org/ImageObject">
    <div class="image">
        <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=182403&amp;view=588">
            <img src="../../files/file/images/182403-maxwidth-500-3341935305-splash.png" alt="3341935305-splash.png" itemprop="contentURL">
        </a>
    </div>

    
</div>

    <div class="comments pull-left">
        
                    <a class="addcomment link-blocktype" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=588&amp;artefact=182403">
                <span class="icon icon-arrow-circle-right" role="presentation" aria-hidden="true"></span>
                Add comment
            </a>
        
    </div>

    <div class="feedback modal modal-docked" id="feedbacktable_2697">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <button class="deletebutton close" data-dismiss="modal-docked">
                        <span class="times">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title pull-left">
                        <span class="icon icon-lg icon-comments left" role="presentation" aria-hidden="true"></span>
                        Comments - 3341935305-splash.png
                    </h4>
                                        <a class="addcomment pull-right" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=588&amp;artefact=182403">
                        Add comment
                        <span class="icon icon-arrow-right right" role="presentation" aria-hidden="true"></span>
                    </a>
                    
                </div>
                <div class="modal-body flush">
                <!-- The "feedbacktable" class is used as an identifier by Javascript -->
<div class="list-group list-group-lite">

</div>

                </div>
            </div>
        </div>
    </div>




        
                            <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=182403&amp;view=588&amp;block=2697" class="detail-link link-blocktype"><span class="icon icon-link" role="presentation" aria-hidden="true"></span> Details</a>
            
        
    </div>
</div>

    </div>
</div>
<div id="row_2_column_2" class="column-layout columns2 last col-width-50" style="width:48%;">
    <div class="column-content">
        <div class="bt-text panel panel-secondary clearfix " id="blockinstance_2698">
            <h3 class="title panel-heading js-heading">
            

            PairFit
            


            

        </h3>
    

    <div class="block"  id="blockinstance_2698_target" data-blocktype-noajax="2698">
        <div class="textblock panel-body flush">
<p>The project I've joined is called PairFit. Officially, PairFit "<strong><em>is a smartphone application that allows users to commit to their fitness goals through pairing with like-minded individuals</em></strong>" (<a title="Overview - PairFit" href="https://anutechlauncher.net/projects/pairfit">Source</a>). In my mind, however, PairFit is a tool that allows people to stay motivated and offers them the possibility to customize their workout schedule, by choosing where, when, and with who they will exercise. Having fitness buddies help with sticking to the program and dealing with shyness, when it comes to exercising (<a title="Strength In Numbers" href="https://experiencelife.com/article/strength-in-numbers-the-importance-of-fitness-buddies/">Source</a>). As such, the goal is to create a platform that will facilitate the process of finding buddies to exercise with.</p>
</div>


        
    </div>
</div>

    </div>
</div>

    </div>
</div>
<div id="row_3" class="clearfix">
    <div class="row-content">
    <div id="row_3_column_1" class="column-layout columns1 first last col-width-100" style="width: 100%;">
    <div class="column-content">
        <div class="bt-text panel panel-secondary clearfix " id="blockinstance_3037">
            <h3 class="title panel-heading js-heading">
            

            What we did in Semester 1
            


            

        </h3>
    

    <div class="block"  id="blockinstance_3037_target" data-blocktype-noajax="3037">
        <div class="textblock panel-body flush">
<p>A really brief timeline of what was completed in Semester 1 is the following:</p>
<p> </p>
<p><strong>Week 1 to 2:  </strong>Team selection</p>
<p><strong>Weeks 2 to 4:</strong>  High level planning</p>
<p><strong>Weeks 4 to 14: </strong>Development of application<strong><br></strong></p>
<p><strong>Weeks 14-16: </strong>Focus group testing</p>
<p><strong>From week 17 up until now: </strong>Development of application<strong><br></strong></p>
<p> </p>
<p>About two weeks at the start of the program were spent for allocating students to projects. After this, it took us approximately the same time to organise ourselves and also come up with a high level plan for PairFit, including a product backlog and concrete milestones and goals. We also set up our software engineering environment around this time, and agreed on a weekly meeting time. Some examples of what we did during this time can be seen below.</p>
<p>Moving on, after we finalised our plan with our clients, we started developing our product. We adopted an Agile project management approach, with weekly sprints. During each week, we would take the user stories of our product backlog, break them down to tasks, estimate the tasks and allocate them to the team members. Being able to rapidly establish the project, and coming up with a plan quickly allowed us to start developing quite early. As a result, around the time of week 7, we were able to demonstrate a small prototype during an in class presentation of our projects.</p>
<p>Around week 14, we had to stop developing, since we had to present our progress to a review panel for assessment purposes. In addition, we decided to invite a group of users to test our application, in order to get feedback. This was also the first time that someone external to the team had access to the app. The results were encouraging and verified that we were on the right track. Finally, we were also able to complete our MVP by this time, and took a brief pause from working on the app.</p>
<p>After the focus group, we started ironing out the bugs and fixing aspects of the app that the users considered to be lacking. This was during the end of semester 1, and for the whole duration of the mid year break. In addition, around this time we slightly readjusted our plan, as our clients had come up with new requirements.</p>
<p>And this brings us to semester two. At this point of time, our goal is to refine the graphical interface of PairFit, implement some new features and test the application, in preparation for release.</p>
<p>In the next portfolio entries, I will be going into more detail regarding the project and my contributions to it. This first entry is meant to make the readers familiar with events that have happened over the course of 6 months. I could go into more detail, but this would almost certainly bore users. Instead, I'll provide a collection of some annotated artifacts (such as images and diagrams) that will help provide a better overview of the project. Also, for Android users, the app can be downloaded <a href="https://play.google.com/store/apps/details?id=com.ionicframework.pairfit252089">here</a>. iOS users can send an e-mail to arash@pairfit.com.au to request access to the beta version of the app.</p>
</div>


        
    </div>
</div>

    </div>
</div>

    </div>
</div>
<div id="row_4" class="clearfix">
    <div class="row-content">
    <div id="row_4_column_1" class="column-layout columns1 first last col-width-100" style="width: 100%;">
    <div class="column-content">
        <div class="bt-text panel panel-secondary clearfix " id="blockinstance_3041">
            <h3 class="title panel-heading js-heading">
            

            Gallery
            


            

        </h3>
    

    <div class="block"  id="blockinstance_3041_target" data-blocktype-noajax="3041">
        

        
    </div>
</div>

    </div>
</div>

    </div>
</div>
<div id="row_5" class="clearfix">
    <div class="row-content">
    <div id="row_5_column_1" class="column-layout columns3 first col-width-33" style="width:31%;">
    <div class="column-content">
        <div class="bt-pdf panel panel-secondary clearfix " id="blockinstance_3052">
            <h3 class="title panel-heading js-heading">
            

            Semester 1 Project Review slides
            


            

        </h3>
    

    <div class="block"  id="blockinstance_3052_target" data-blocktype-noajax="3052">
        <div class="panel-body">
<iframe src="https://eportfolio.anu.edu.au/artefact/file/blocktype/pdf/viewer.php?editing=&ingroup=&file=182616&lang=en&view=588" width="100%" height="500" frameborder="0"></iframe>
</div>
    <div class="comments pull-left">
        
                    <a class="addcomment link-blocktype" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=588&amp;artefact=182616">
                <span class="icon icon-arrow-circle-right" role="presentation" aria-hidden="true"></span>
                Add comment
            </a>
        
    </div>

    <div class="feedback modal modal-docked" id="feedbacktable_3052">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <button class="deletebutton close" data-dismiss="modal-docked">
                        <span class="times">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title pull-left">
                        <span class="icon icon-lg icon-comments left" role="presentation" aria-hidden="true"></span>
                        Comments - Project Review (Semester 1).pdf.1
                    </h4>
                                        <a class="addcomment pull-right" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=588&amp;artefact=182616">
                        Add comment
                        <span class="icon icon-arrow-right right" role="presentation" aria-hidden="true"></span>
                    </a>
                    
                </div>
                <div class="modal-body flush">
                <!-- The "feedbacktable" class is used as an identifier by Javascript -->
<div class="list-group list-group-lite">

</div>

                </div>
            </div>
        </div>
    </div>




        
                            <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=182616&amp;view=588&amp;block=3052" class="detail-link link-blocktype"><span class="icon icon-link" role="presentation" aria-hidden="true"></span> Details</a>
            
        
    </div>
</div>

    </div>
</div>
<div id="row_5_column_2" class="column-layout columns3 col-width-33" style="width:31%;">
    <div class="column-content">
        <div class="bt-pdf panel panel-secondary clearfix " id="blockinstance_3046">
            <h3 class="title panel-heading js-heading">
            

            Alpha Designs
            


            

        </h3>
    

    <div class="block"  id="blockinstance_3046_target" data-blocktype-noajax="3046">
        <div class="panel-body">

</div>



        
    </div>
</div>

    </div>
</div>
<div id="row_5_column_3" class="column-layout columns3 last col-width-33" style="width:31%;">
    <div class="column-content">
        <div class="bt-blogpost panel panel-secondary clearfix " id="blockinstance_3045">
            <h3 class="title panel-heading js-heading">
            

            Sample requirement before being translated to user stories
            


            

        </h3>
    

    <div class="block"  id="blockinstance_3045_target" data-blocktype-noajax="3045">
        <div id="blogpost-" class="panel-body flush">

    

    <div class="postdetails metadata">
        <span class="icon icon-calendar left" role="presentation" aria-hidden="true"></span>
        Posted by Emmanuel Morfiadakis on 09 August 2016,  1:02 AM
        
    </div>

    

    <div class="postcontent">
    <p><strong>Requirements:</strong></p>
<p> </p>
<p><span style="font-weight:400;">1 x Profile Mobile App Screen design</span></p>
<p> </p>
<p><span style="font-weight:400;">The name of the application is </span><strong>PairFit</strong><span style="font-weight:400;">. It is a social fitness platform aimed at pairing like-minded individuals based on their fitness level and interests. It also will be a fitness tracking and management system that will allow users to track their fitness goals and progression. </span></p>
<p> </p>
<p><span style="font-weight:400;">The mobile app screen (iOS and Android) that we need designed is the Profile Page for a user. This will be for how the users see other people’s profile (i.e. with the goal of showing info detail to get a person to request a pair from you) </span></p>
<p><br><span style="font-weight:400;">The design for 1 mobile app screen (including scrolling depending on the design) will need to include the following information on the page: </span></p>
    </div>

    

    
</div>


    <div class="comments pull-left">
        
                    <a class="addcomment link-blocktype" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=588&amp;artefact=182609">
                <span class="icon icon-arrow-circle-right" role="presentation" aria-hidden="true"></span>
                Add comment
            </a>
        
    </div>

    <div class="feedback modal modal-docked" id="feedbacktable_3045">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <button class="deletebutton close" data-dismiss="modal-docked">
                        <span class="times">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title pull-left">
                        <span class="icon icon-lg icon-comments left" role="presentation" aria-hidden="true"></span>
                        Comments - Sample requirement
                    </h4>
                                        <a class="addcomment pull-right" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=588&amp;artefact=182609">
                        Add comment
                        <span class="icon icon-arrow-right right" role="presentation" aria-hidden="true"></span>
                    </a>
                    
                </div>
                <div class="modal-body flush">
                <!-- The "feedbacktable" class is used as an identifier by Javascript -->
<div class="list-group list-group-lite">

</div>

                </div>
            </div>
        </div>
    </div>



        
                            <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=182609&amp;view=588&amp;block=3045" class="detail-link link-blocktype"><span class="icon icon-link" role="presentation" aria-hidden="true"></span> Details</a>
            
        
    </div>
</div>

    </div>
</div>

    </div>
</div>
<div id="row_6" class="clearfix">
    <div class="row-content">
    <div id="row_6_column_1" class="column-layout columns3 first col-width-33" style="width:31%;">
    <div class="column-content">
        <div class="bt-textbox panel panel-secondary clearfix " id="blockinstance_3050">
            <h3 class="title panel-heading js-heading">
            

            Software engineering environment
            


            

        </h3>
    

    <div class="block"  id="blockinstance_3050_target" data-blocktype-noajax="3050">
        <div class="panel-body flush">
    <p><strong><em>Development Framework: </em></strong>Ionic</p>
<p><a href="http://ionicframework.com/">http://ionicframework.com/</a></p>
<p><em><strong>Code management</strong></em>: BitBucket</p>
<p><a href="https://bitbucket.org/">https://bitbucket.org/</a></p>
<p><em><strong>Issue tracking</strong></em>: Jira</p>
<p><a href="https://www.atlassian.com/software/jira">https://www.atlassian.com/software/jira</a></p>
<p><em><strong>General documentation</strong></em>: Google Drive</p>
<p><a href="https://drive.google.com">https://drive.google.com</a></p>
<p><em><strong>Testing framework</strong></em>: Protractor</p>
<p><a href="http://www.protractortest.org/#/">http://www.protractortest.org/#/</a></p>
<p><em><strong>Communications</strong></em>: Slack</p>
<p><a href="https://slack.com/">https://slack.com/</a></p>

    
</div>



    <div class="comments pull-left">
        
                    <a class="addcomment link-blocktype" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=588&amp;artefact=182613">
                <span class="icon icon-arrow-circle-right" role="presentation" aria-hidden="true"></span>
                Add comment
            </a>
        
    </div>

    <div class="feedback modal modal-docked" id="feedbacktable_3050">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <button class="deletebutton close" data-dismiss="modal-docked">
                        <span class="times">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title pull-left">
                        <span class="icon icon-lg icon-comments left" role="presentation" aria-hidden="true"></span>
                        Comments - Note
                    </h4>
                                        <a class="addcomment pull-right" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=588&amp;artefact=182613">
                        Add comment
                        <span class="icon icon-arrow-right right" role="presentation" aria-hidden="true"></span>
                    </a>
                    
                </div>
                <div class="modal-body flush">
                <!-- The "feedbacktable" class is used as an identifier by Javascript -->
<div class="list-group list-group-lite">

</div>

                </div>
            </div>
        </div>
    </div>




        
                            <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=182613&amp;view=588&amp;block=3050" class="detail-link link-blocktype"><span class="icon icon-link" role="presentation" aria-hidden="true"></span> Details</a>
            
        
    </div>
</div>

    </div>
</div>
<div id="row_6_column_2" class="column-layout columns3 col-width-33" style="width:31%;">
    <div class="column-content">
        <div class="bt-image panel panel-secondary clearfix " id="blockinstance_3049">
            <h3 class="title panel-heading js-heading">
            

            Sample system architecture diagram
            


            

        </h3>
    

    <div class="block"  id="blockinstance_3049_target" data-blocktype-noajax="3049">
        <div class="imageblock panel-body" itemscope itemtype="http://schema.org/ImageObject">
    <div class="image">
        <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=182612&amp;view=588">
            <img src="../../files/file/images/System Architecture visualised.png" alt="System Architecture visualised.png" itemprop="contentURL">
        </a>
    </div>

    
</div>

    <div class="comments pull-left">
        
                    <a class="addcomment link-blocktype" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=588&amp;artefact=182612">
                <span class="icon icon-arrow-circle-right" role="presentation" aria-hidden="true"></span>
                Add comment
            </a>
        
    </div>

    <div class="feedback modal modal-docked" id="feedbacktable_3049">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <button class="deletebutton close" data-dismiss="modal-docked">
                        <span class="times">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title pull-left">
                        <span class="icon icon-lg icon-comments left" role="presentation" aria-hidden="true"></span>
                        Comments - System Architecture visualised.png
                    </h4>
                                        <a class="addcomment pull-right" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=588&amp;artefact=182612">
                        Add comment
                        <span class="icon icon-arrow-right right" role="presentation" aria-hidden="true"></span>
                    </a>
                    
                </div>
                <div class="modal-body flush">
                <!-- The "feedbacktable" class is used as an identifier by Javascript -->
<div class="list-group list-group-lite">

</div>

                </div>
            </div>
        </div>
    </div>




        
                            <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=182612&amp;view=588&amp;block=3049" class="detail-link link-blocktype"><span class="icon icon-link" role="presentation" aria-hidden="true"></span> Details</a>
            
        
    </div>
</div>

    </div>
</div>
<div id="row_6_column_3" class="column-layout columns3 last col-width-33" style="width:31%;">
    <div class="column-content">
        <div class="bt-image panel panel-secondary clearfix " id="blockinstance_3047">
            <h3 class="title panel-heading js-heading">
            

            Jira, our issue tracking tool
            


            

        </h3>
    

    <div class="block"  id="blockinstance_3047_target" data-blocktype-noajax="3047">
        <div class="imageblock panel-body" itemscope itemtype="http://schema.org/ImageObject">
    <div class="image">
        <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=182611&amp;view=588">
            <img src="../../files/file/images/Στιγμιότυπο οθόνης (110).png" alt="Στιγμιότυπο οθόνης (110).png" itemprop="contentURL">
        </a>
    </div>

    
</div>

    <div class="comments pull-left">
        
                    <a class="addcomment link-blocktype" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=588&amp;artefact=182611">
                <span class="icon icon-arrow-circle-right" role="presentation" aria-hidden="true"></span>
                Add comment
            </a>
        
    </div>

    <div class="feedback modal modal-docked" id="feedbacktable_3047">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <button class="deletebutton close" data-dismiss="modal-docked">
                        <span class="times">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title pull-left">
                        <span class="icon icon-lg icon-comments left" role="presentation" aria-hidden="true"></span>
                        Comments - Στιγμιότυπο οθόνης (110).png
                    </h4>
                                        <a class="addcomment pull-right" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=588&amp;artefact=182611">
                        Add comment
                        <span class="icon icon-arrow-right right" role="presentation" aria-hidden="true"></span>
                    </a>
                    
                </div>
                <div class="modal-body flush">
                <!-- The "feedbacktable" class is used as an identifier by Javascript -->
<div class="list-group list-group-lite">

</div>

                </div>
            </div>
        </div>
    </div>




        
                            <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=182611&amp;view=588&amp;block=3047" class="detail-link link-blocktype"><span class="icon icon-link" role="presentation" aria-hidden="true"></span> Details</a>
            
        
    </div>
</div>

    </div>
</div>

    </div>
</div>




            </main>
          </div>
        </div>
        <div id="footer">
            <p>Export generated for Emmanuel Morfiadakis on 02 July 2018, 12:14 AM, from their portfolio at <a href="https://eportfolio.anu.edu.au/">ANU ePortfolios</a></p>
        </div>
    </body>
</html>

