<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
        <title>Emmanuel Morfiadakis - Portfolio</title>
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/export/style/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/export/style/print.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/anu/static/export/style/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/anu/static/export/style/print.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/style/views.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/style/tinymce.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/style/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/style/style-blessed1.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/style/datepicker.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/style/cookieconsent.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/anu/static/style/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/anu/static/style/style-blessed1.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/local/static/style/style-dist.css">

    </head>
    <body>
        <header class="header navbar navbar-default no-site-messages">
            <div class="container">
                <div class="logo-area" id="logo-area">
                    <!-- Hardcoded url to ANU website -->
                    <a class="logo" href="http://www.anu.edu.au">
                        <img alt="ANU ePortfolios" src="../../static/theme/anu/static/images/site-logo.png">
                    </a>
                </div>
            </div>
         </header>
         <div class="main-content-container">
           <div class="container main-content">
              <div class="row">
                <main id="main" class="main">
                  <h1><a href="../../index.html">Week 6</a></h1>
                  <div id="content">
                    <div id="breadcrumbs" class="breadcrumbs">
                    <ul>
                        <li>You are here: <a href="../../index.html">Home</a></li>
                            <li>&raquo; Pages</li>
                            <li>&raquo; <a href="index.html">Week 6</a></li>
    
                    </ul>
                  </div>
                  <div id="breadcrumbs-footer"></div>


<div class="breadcrumbs collection">
   <ul>
     <li class="collectionname">COMP3100 Semester 2 portfolio</li>
     | <li><a href="../../views/%57%65%65%6b%2d%33/index.html">Week 3</a></li>
     | <li><a href="../../views/%57%65%65%6b%2d%34/index.html">Week 4</a></li>
     | <li class="selected"><a href="../../views/%57%65%65%6b%2d%36/index.html">Week 6</a></li>
     | <li><a href="../../views/%57%65%65%6b%2d%37/index.html">Week 7</a></li>
     | <li><a href="../../views/%4d%69%64%2d%73%65%6d%65%73%74%65%72%2d%62%72%65%61%6b/index.html">Mid semester break</a></li>
     | <li><a href="../../views/%57%65%65%6b%2d%38%2d%61%6e%64%2d%57%65%65%6b%2d%39/index.html">Week 8 and Week 9</a></li>
     | <li><a href="../../views/%57%65%65%6b%2d%31%30/index.html">Week 10</a></li>
     | <li><a href="../../views/%57%65%65%6b%2d%31%31/index.html">Week 11</a></li>
     | <li><a href="../../views/%46%69%6e%61%6c%2d%45%6e%74%72%79%2d/index.html">Final Entry </a></li>

   </ul>
</div>
<div class="cb"></div>


<p id="view-description"><div id="user_view-description" class="view-description">
<p>COMP3100 portfolio entry #3</p>
</div></p>

<div id="row_1" class="clearfix">
    <div class="row-content">
    <div id="row_1_column_1" class="column-layout columns2 first col-width-67" style="width:65%;">
    <div class="column-content">
        <div class="bt-text panel panel-secondary clearfix " id="blockinstance_6122">
            <h3 class="title panel-heading js-heading">
            

             Where we are now
            


            

        </h3>
    

    <div class="block"  id="blockinstance_6122_target" data-blocktype-noajax="6122">
        <div class="textblock panel-body flush">
<p>People that are good at paying attention to detail will see that I don't have an entry for week 5. This can be justified by the fact that last week was quite busy for me, and I spent most of the time focusing on other courses. As such, since I didn't have a lot to write about, I decided to skip last week's entry entirely</p>
<p>Currently, we are at the middle of week 6.  Development is proceeding as expected. We are planning to release around the end of September. Our plans have changed a bit, and instead of having a full public release, we decided to have a small beta for a limited number of users. After this, we'll decide whether or not we'll go live.</p>
<p>The main reason that forced us to rethink our plans has to do with the server. We are unsure if it'll be able to handle the expected load. We want to be confident first and confirm that the infrastructure satisfies our expectations. If everything goes smoothly, we'll go live shortly after.</p>
<p>When it comes to development, we are still working on the user interface. A lot of bug fixing was also done this week. Try to fix one bug, and ten new ones will be introduced, as they say... On a more positive note, we are starting to write automated tests now, and this will potentially help us speed the debugging process.</p>
<p>In addition to development, some of us (namely me, AJ and Andrew) will also be attending the ANU open day. We thought that this will be a good opportunity to add people to our mailing list and try and make PairFit popular on campus. As a secondary goal, I also want to use this opportunity to practice my pitching skills and engage with others. I am quite excited for this, and can't wait for Saturday to come.</p>
<p>As usual, everything is going ok, with a couple of exceptions. Monday and AJ are quite sick, and looked noticeably tired at the meetings this week. Also, Jarrod (our client) wasn't looking great either. Some of the assigned weekly tasks were not completed, and this slowed us down a bit. Fingers crossed, we'll be able to recover soon. The next couple of months are going to be really important for the project.</p>
<p> </p>
<p> </p>
</div>


        
    </div>
</div>

    </div>
</div>
<div id="row_1_column_2" class="column-layout columns2 last col-width-33" style="width:31%;">
    <div class="column-content">
        <div class="bt-image panel panel-secondary clearfix " id="blockinstance_6132">
            <h3 class="title panel-heading js-heading">
            

            Measure of progress - Completed vs Open tasks
            


            

        </h3>
    

    <div class="block"  id="blockinstance_6132_target" data-blocktype-noajax="6132">
        <div class="imageblock panel-body" itemscope itemtype="http://schema.org/ImageObject">
    <div class="image">
        <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=186610&amp;view=1458">
            <img src="../../files/file/pie.png" alt="pie.png" itemprop="contentURL">
        </a>
    </div>

    
</div>

    <div class="comments pull-left">
        
                    <a class="addcomment link-blocktype" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=1458&amp;artefact=186610">
                <span class="icon icon-arrow-circle-right" role="presentation" aria-hidden="true"></span>
                Add comment
            </a>
        
    </div>

    <div class="feedback modal modal-docked" id="feedbacktable_6132">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <button class="deletebutton close" data-dismiss="modal-docked">
                        <span class="times">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title pull-left">
                        <span class="icon icon-lg icon-comments left" role="presentation" aria-hidden="true"></span>
                        Comments - pie.png
                    </h4>
                                        <a class="addcomment pull-right" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=1458&amp;artefact=186610">
                        Add comment
                        <span class="icon icon-arrow-right right" role="presentation" aria-hidden="true"></span>
                    </a>
                    
                </div>
                <div class="modal-body flush">
                <!-- The "feedbacktable" class is used as an identifier by Javascript -->
<div class="list-group list-group-lite">

</div>

                </div>
            </div>
        </div>
    </div>




        
                            <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=186610&amp;view=1458&amp;block=6132" class="detail-link link-blocktype"><span class="icon icon-link" role="presentation" aria-hidden="true"></span> Details</a>
            
        
    </div>
</div>
<div class="bt-externalvideo panel panel-secondary clearfix " id="blockinstance_6134">
            <h3 class="title panel-heading js-heading">
            

            PairFit open day survey
            


            

        </h3>
    

    <div class="block"  id="blockinstance_6134_target" data-blocktype-noajax="6134">
        <div class="mediaplayer-container text-center">

    <a class="embedly-card" href="https://docs.google.com/forms/d/1JWU2aeAI7Y-R5wECbxqmoip8li9RUZ9gCwNBCd9pAoY/edit"></a>








</div>



        
    </div>
</div>

    </div>
</div>

    </div>
</div>
<div id="row_2" class="clearfix">
    <div class="row-content">
    <div id="row_2_column_1" class="column-layout columns2 first col-width-67" style="width:65%;">
    <div class="column-content">
        <div class="bt-text panel panel-secondary clearfix " id="blockinstance_6124">
            <h3 class="title panel-heading js-heading">
            

             My contributions this week 
            


            

        </h3>
    

    <div class="block"  id="blockinstance_6124_target" data-blocktype-noajax="6124">
        <div class="textblock panel-body flush">
<p>This week, I also had to focus on the backend, and modify our server code. Last week we completed the event creation GUI, so this means that the functionality and the interface of the app need to be integrated together. As such, my contributions were adding node.js code to the app server, and creating HTTP methods that are used to service new requests from clients. Since I already had implemented some support from week 4, in anticipation of these tasks, this process was quite straightforward, and I did not have many issues.</p>
<p>On a side note: Honestly, I'd rather code functionality rather than work on the graphical environment. CSS is a tool that can become unnecessarily complicated. The mere fact that there exists a website like <a title="http://howtocenterincss.com/" href="http://howtocenterincss.com/">this </a>just shows how weird the CSS language is...</p>
<p>In any case, I was able to update the server code to handle our new client-side requests and I proceeded to test this function a bit, manually. Everything is working as expected.</p>
<p>The other major thing I'm working on now is testing. At the start of the project, we were planning on using <a href="http://jasmine.github.io/">Jasmine </a>to test the app. However, we changed to <a href="http://www.protractortest.org/#/">Protractor </a>a couple of months back, since Jasmine looked too complicated for us to learn in a short amount of time. Since then, I really haven't had the time to check out Protractor. As such, I volunteered to learn more about the framework (and potentially teach the rest of the team how to use it). As such, I've been going through the <a href="http://www.protractortest.org/#/tutorial">documentation</a> a lot lately, trying to wrap my head around it. As I said in the last portfolio entry, it's about time we started testing formally anyways. Part of the source code I've been editing can be seen below.</p>
<p>Overall, these were my main tasks for this week. Since I was able to complete everything around 2 days before the end of this week's sprint, I decided to go through the app on my own and try and locate minor inconsistencies and bugs, like different text sizes for similar elements, buttons rendering in different places for iOS and Android and so on. I was able to find some small issues (that are far too specific to mention here), so I added them to our issue tracker, and hopefully they will be placed in next week's sprint.</p>
<p>And finally, I suppose I could also mention my contribution to parts of the project that are not related to the app itself. As per the course guide, we need to present our progress to three other TechLauncher teams, next week, for assessment purposes. I took the liberty of going through the rubric for the presentation, setting up our slides in Google Drive, and assigning tasks related to the presentation to the other team members. I fear that, had I not reminded them, everyone else would ignore the presentation until the very last moment.</p>
</div>


        
    </div>
</div>
<div class="bt-text panel panel-secondary clearfix collapsible" id="blockinstance_8696">
            <h3 class="title panel-heading js-heading">
                        <a data-toggle="collapse" href="#blockinstance_8696_target" aria-expanded="false" aria-controls="blockinstance_8696_target" class="outer-link collapsed"></a>
            

            Sample test code, written by AJ and editted by me. Click to open.
            


                        <span class="icon icon-chevron-up collapse-indicator pull-right" role="presentation" aria-hidden="true"></span>
            

        </h3>
    

    <div class="block collapse"  id="blockinstance_8696_target" data-blocktype-noajax="8696">
        <div class="textblock panel-body flush">
<pre><span class="nx">describe</span><span class="p">(</span><span class="s2">"signin.test.js"</span><span class="p">,</span> <span class="kd">function</span> <span class="p">()</span> <span class="p">{</span>
<a name="user_signin.test.js-2"></a>    <span class="kd">var</span> <span class="nx">username</span><span class="p">,</span> <span class="nx">password</span><span class="p">,</span> <span class="nx">submitButton</span><span class="p">;</span>
<a name="user_signin.test.js-3"></a>    <span class="nx">beforeEach</span><span class="p">(</span><span class="kd">function</span><span class="p">()</span> <span class="p">{</span>
<a name="user_signin.test.js-4"></a>      <span class="nx">browser</span><span class="p">.</span><span class="nx">get</span><span class="p">(</span><span class="s1">'#/sign-in'</span><span class="p">);</span>
<a name="user_signin.test.js-5"></a>      <span class="nx">username</span> <span class="o">=</span> <span class="nx">element</span><span class="p">(</span><span class="nx">by</span><span class="p">.</span><span class="nx">model</span><span class="p">(</span><span class="s1">'loginData.email'</span><span class="p">));</span>
<a name="user_signin.test.js-6"></a>      <span class="nx">password</span> <span class="o">=</span> <span class="nx">element</span><span class="p">(</span><span class="nx">by</span><span class="p">.</span><span class="nx">model</span><span class="p">(</span><span class="s1">'loginData.password'</span><span class="p">));</span>
<a name="user_signin.test.js-7"></a>      <span class="nx">submitButton</span> <span class="o">=</span> <span class="nx">element</span><span class="p">(</span><span class="nx">by</span><span class="p">.</span><span class="nx">css</span><span class="p">(</span><span class="s1">'[ng-click="submit(loginData)"]'</span><span class="p">));</span>
<a name="user_signin.test.js-8"></a>    <span class="p">});</span>
<a name="user_signin.test.js-9"></a>
<a name="user_signin.test.js-10"></a>    <span class="nx">it</span><span class="p">(</span><span class="s1">'Correct Data Log in '</span><span class="p">,</span> <span class="kd">function</span> <span class="p">()</span> <span class="p">{</span>
<a name="user_signin.test.js-11"></a>      <span class="c1">//Start at sign-in</span>
<a name="user_signin.test.js-12"></a>      <span class="nx">expect</span><span class="p">(</span><span class="nx">browser</span><span class="p">.</span><span class="nx">getTitle</span><span class="p">()).</span><span class="nx">toEqual</span><span class="p">(</span><span class="s1">'welome'</span><span class="p">);</span>
<a name="user_signin.test.js-13"></a>
<a name="user_signin.test.js-14"></a>      <span class="c1">//Input Correct login info</span>
<a name="user_signin.test.js-15"></a>      <span class="nx">username</span><span class="p">.</span><span class="nx">sendKeys</span><span class="p">(</span><span class="s1">'foo'</span><span class="p">);</span>
<a name="user_signin.test.js-16"></a>      <span class="nx">password</span><span class="p">.</span><span class="nx">sendKeys</span><span class="p">(</span><span class="s1">'bar'</span><span class="p">);</span>
<a name="user_signin.test.js-17"></a>
<a name="user_signin.test.js-18"></a>      <span class="c1">//Click Login</span>
<a name="user_signin.test.js-19"></a>      <span class="nx">submitButton</span><span class="p">.</span><span class="nx">click</span><span class="p">().</span><span class="nx">then</span><span class="p">(</span><span class="kd">function</span><span class="p">()</span> <span class="p">{</span>
<a name="user_signin.test.js-20"></a>        <span class="nx">browser</span><span class="p">.</span><span class="nx">wait</span><span class="p">(</span><span class="kd">function</span><span class="p">()</span> <span class="p">{</span>
<a name="user_signin.test.js-21"></a>          <span class="k">return</span> <span class="nx">browser</span><span class="p">.</span><span class="nx">isElementPresent</span><span class="p">(</span><span class="nx">by</span><span class="p">.</span><span class="nx">css</span><span class="p">(</span><span class="s1">'ion-tabs'</span><span class="p">));</span>
<a name="user_signin.test.js-22"></a>        <span class="p">},</span> <span class="mi">5000</span><span class="p">);</span>
<a name="user_signin.test.js-23"></a>      <span class="p">});</span>
<a name="user_signin.test.js-24"></a>
<a name="user_signin.test.js-25"></a>      <span class="c1">//Expect it to take you to home</span>
<a name="user_signin.test.js-26"></a>      <span class="nx">expect</span><span class="p">(</span><span class="nx">browser</span><span class="p">.</span><span class="nx">getTitle</span><span class="p">()).</span><span class="nx">toEqual</span><span class="p">(</span><span class="s1">'Events Feed'</span><span class="p">);</span>
<a name="user_signin.test.js-27"></a>    <span class="p">});</span>
<a name="user_signin.test.js-28"></a>
<a name="user_signin.test.js-29"></a>    <span class="nx">it</span><span class="p">(</span><span class="s1">'Incorrect Data Log in Attempt'</span><span class="p">,</span> <span class="kd">function</span> <span class="p">()</span> <span class="p">{</span>
<a name="user_signin.test.js-30"></a>      <span class="nx">expect</span><span class="p">(</span><span class="nx">browser</span><span class="p">.</span><span class="nx">getTitle</span><span class="p">()).</span><span class="nx">toEqual</span><span class="p">(</span><span class="s1">'Sign In'</span><span class="p">);</span>
<a name="user_signin.test.js-31"></a>
<a name="user_signin.test.js-32"></a>      <span class="nx">username</span><span class="p">.</span><span class="nx">sendKeys</span><span class="p">(</span><span class="s1">'foot'</span><span class="p">);</span>
<a name="user_signin.test.js-33"></a>      <span class="nx">password</span><span class="p">.</span><span class="nx">sendKeys</span><span class="p">(</span><span class="s1">'bart'</span><span class="p">);</span>
<a name="user_signin.test.js-34"></a>      <span class="kd">var</span> <span class="nx">popup</span> <span class="o">=</span> <span class="p">(</span><span class="nx">by</span><span class="p">.</span><span class="nx">css</span><span class="p">(</span><span class="s1">'.popup-container.popup-showing.active'</span><span class="p">));</span>
<a name="user_signin.test.js-35"></a>
<a name="user_signin.test.js-36"></a>      <span class="nx">submitButton</span><span class="p">.</span><span class="nx">click</span><span class="p">().</span><span class="nx">then</span><span class="p">(</span><span class="kd">function</span> <span class="p">()</span> <span class="p">{</span>
<a name="user_signin.test.js-37"></a>        <span class="nx">browser</span><span class="p">.</span><span class="nx">wait</span><span class="p">(</span><span class="kd">function</span> <span class="p">()</span> <span class="p">{</span>
<a name="user_signin.test.js-38"></a>          <span class="k">return</span> <span class="nx">browser</span><span class="p">.</span><span class="nx">isElementPresent</span><span class="p">(</span><span class="nx">popup</span><span class="p">);</span>
<a name="user_signin.test.js-39"></a>        <span class="p">},</span> <span class="mi">5000</span><span class="p">);</span>
<a name="user_signin.test.js-40"></a>      <span class="p">});</span>
<a name="user_signin.test.js-41"></a>
<a name="user_signin.test.js-42"></a>      <span class="nx">expect</span><span class="p">(</span><span class="nx">browser</span><span class="p">.</span><span class="nx">getTitle</span><span class="p">()).</span><span class="nx">toEqual</span><span class="p">(</span><span class="s1">'Sign In'</span><span class="p">);</span>
<a name="user_signin.test.js-43"></a>
<a name="user_signin.test.js-44"></a>    <span class="p">});</span>
<a name="user_signin.test.js-45"></a>
<a name="user_signin.test.js-46"></a>
<a name="user_signin.test.js-47"></a><span class="p">});</span></pre>
</div>


        
    </div>
</div>

    </div>
</div>
<div id="row_2_column_2" class="column-layout columns2 last col-width-33" style="width:31%;">
    <div class="column-content">
        <div class="bt-image panel panel-secondary clearfix " id="blockinstance_6128">
            <h3 class="title panel-heading js-heading">
            

            Part of the server code I&#039;ve been working on
            


            

        </h3>
    

    <div class="block"  id="blockinstance_6128_target" data-blocktype-noajax="6128">
        <div class="imageblock panel-body" itemscope itemtype="http://schema.org/ImageObject">
    <div class="image">
        <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=186609&amp;view=1458">
            <img src="../../files/file/code.png" alt="code.png" itemprop="contentURL">
        </a>
    </div>

    
</div>

    <div class="comments pull-left">
        
                    <a class="addcomment link-blocktype" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=1458&amp;artefact=186609">
                <span class="icon icon-arrow-circle-right" role="presentation" aria-hidden="true"></span>
                Add comment
            </a>
        
    </div>

    <div class="feedback modal modal-docked" id="feedbacktable_6128">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <button class="deletebutton close" data-dismiss="modal-docked">
                        <span class="times">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title pull-left">
                        <span class="icon icon-lg icon-comments left" role="presentation" aria-hidden="true"></span>
                        Comments - code.png
                    </h4>
                                        <a class="addcomment pull-right" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=1458&amp;artefact=186609">
                        Add comment
                        <span class="icon icon-arrow-right right" role="presentation" aria-hidden="true"></span>
                    </a>
                    
                </div>
                <div class="modal-body flush">
                <!-- The "feedbacktable" class is used as an identifier by Javascript -->
<div class="list-group list-group-lite">

</div>

                </div>
            </div>
        </div>
    </div>




        
                            <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=186609&amp;view=1458&amp;block=6128" class="detail-link link-blocktype"><span class="icon icon-link" role="presentation" aria-hidden="true"></span> Details</a>
            
        
    </div>
</div>
<div class="bt-externalvideo panel panel-secondary clearfix " id="blockinstance_6131">
            <h3 class="title panel-heading js-heading">
            

            Resource I&#039;m using to familiarise myself with the Protractor framework
            


            

        </h3>
    

    <div class="block"  id="blockinstance_6131_target" data-blocktype-noajax="6131">
        <div class="mediaplayer-container text-center">
  <div id="vid_6131" class="mediaplayer" style="margin: 0 auto;">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/idb6hOxlyb8" frameborder="0" allowfullscreen=""></iframe>
    
  </div>
</div>


        
    </div>
</div>
<div class="bt-text panel panel-secondary clearfix collapsible" id="blockinstance_8700">
            <h3 class="title panel-heading js-heading">
                        <a data-toggle="collapse" href="#blockinstance_8700_target" aria-expanded="false" aria-controls="blockinstance_8700_target" class="outer-link collapsed"></a>
            

            Sample of the CSS code I contributed to. Click to expand.
            


                        <span class="icon icon-chevron-up collapse-indicator pull-right" role="presentation" aria-hidden="true"></span>
            

        </h3>
    

    <div class="block collapse"  id="blockinstance_8700_target" data-blocktype-noajax="8700">
        <div class="textblock panel-body flush">
<pre><span class="nc">.event-card</span> <span class="nc">.footer</span> <span class="nc">.decline</span> <span class="p">{</span>
<a name="user_style.css-610"></a>	<span class="nb">color</span><span class="o">:</span> <span class="m">#44bbff</span><span class="p">;</span> <span class="c">/* TODO: Actual colour */</span>
<a name="user_style.css-611"></a>	<span class="nb">float</span><span class="o">:</span> <span class="nb">right</span><span class="p">;</span>
<a name="user_style.css-612"></a>	<span class="nb">font-size</span><span class="o">:</span> <span class="m">4</span><span class="n">vw</span><span class="p">;</span>
<a name="user_style.css-613"></a>	<span class="nb">width</span><span class="o">:</span> <span class="m">30%</span><span class="p">;</span>
<a name="user_style.css-614"></a><span class="p">}</span>
<a name="user_style.css-615"></a><span class="nc">.event-card</span> <span class="nc">.footer</span> <span class="nc">.invite</span> <span class="p">{</span>
<a name="user_style.css-616"></a>	<span class="nb">color</span><span class="o">:</span> <span class="m">#44bbff</span><span class="p">;</span> <span class="c">/* TODO: Actual colour */</span>
<a name="user_style.css-617"></a>	<span class="nb">font-size</span><span class="o">:</span> <span class="m">4</span><span class="n">vw</span><span class="p">;</span>
<a name="user_style.css-618"></a>	<span class="nb">float</span><span class="o">:</span> <span class="nb">left</span><span class="p">;</span>
<a name="user_style.css-619"></a>	<span class="nb">margin-right</span><span class="o">:</span> <span class="m">0px</span><span class="p">;</span>
<a name="user_style.css-620"></a>	<span class="nb">width</span><span class="o">:</span> <span class="m">30%</span><span class="p">;</span>
<a name="user_style.css-621"></a><span class="p">}</span>
<a name="user_style.css-622"></a>
<a name="user_style.css-623"></a><span class="nc">.event-card</span> <span class="nc">.item-avatar</span> <span class="nt">img</span> <span class="p">{</span>
<a name="user_style.css-624"></a>	<span class="nb">top</span><span class="o">:</span> <span class="m">5px</span> <span class="cp">!important</span><span class="p">;</span>
<a name="user_style.css-625"></a>	<span class="nb">left</span><span class="o">:</span> <span class="m">5px</span> <span class="cp">!important</span><span class="p">;</span>
<a name="user_style.css-626"></a>	<span class="nb">width</span><span class="o">:</span> <span class="m">10</span><span class="n">vh</span> <span class="cp">!important</span><span class="p">;</span>
<a name="user_style.css-627"></a>	<span class="nb">height</span> <span class="o">:</span> <span class="m">10</span><span class="n">vh</span> <span class="cp">!important</span><span class="p">;</span>
<a name="user_style.css-628"></a>	<span class="nb">max-width</span><span class="o">:</span> <span class="m">45px</span> <span class="cp">!important</span><span class="p">;</span>
<a name="user_style.css-629"></a>	<span class="nb">max-height</span><span class="o">:</span> <span class="m">45px</span> <span class="cp">!important</span><span class="p">;</span>
<a name="user_style.css-630"></a>	<span class="n">box</span><span class="o">-</span><span class="n">shadow</span><span class="o">:</span> <span class="m">2px</span> <span class="m">2px</span> <span class="m">2px</span> <span class="m">#BBBBBB</span><span class="p">;</span>
<a name="user_style.css-631"></a><span class="p">}</span>
<a name="user_style.css-632"></a>
<a name="user_style.css-633"></a><span class="nc">.event-card</span> <span class="nc">.item-lol</span> <span class="nt">img</span> <span class="p">{</span>
<a name="user_style.css-634"></a>	<span class="nb">position</span><span class="o">:</span> <span class="nb">relative</span><span class="p">;</span>
<a name="user_style.css-635"></a>	<span class="nb">top</span><span class="o">:</span> <span class="m">2px</span><span class="p">;</span>
<a name="user_style.css-636"></a>	<span class="nb">font-size</span><span class="o">:</span> <span class="m">20px</span><span class="p">;</span>
<a name="user_style.css-637"></a>	<span class="nb">color</span><span class="o">:</span> <span class="m">#44bbff</span><span class="p">;</span>
<a name="user_style.css-638"></a><span class="p">}</span></pre>
</div>


        
    </div>
</div>

    </div>
</div>

    </div>
</div>
<div id="row_3" class="clearfix">
    <div class="row-content">
    <div id="row_3_column_1" class="column-layout columns1 first last col-width-100" style="width: 100%;">
    <div class="column-content">
        <div class="bt-text panel panel-secondary clearfix " id="blockinstance_6125">
            <h3 class="title panel-heading js-heading">
            

            Closing thoughts 
            


            

        </h3>
    

    <div class="block"  id="blockinstance_6125_target" data-blocktype-noajax="6125">
        <div class="textblock panel-body flush">
<p>Things are a bit slow at the moment, and the two main causes are sickness and coursework. But still, I am confident we can pick up the pace and make up for the time we lost during the last two weeks.</p>
<p>As far as concerns go, I can't say I have any at the moment. The only thing I'm worried about is the presentation next week. Even though I feel comfortable speaking in public, I still get worried about these things. But judging from our performance last semester, we should be perfectly fine.</p>
<p>The different structure of marking should be beneficial for the team. Last semester, we couldn't really take into account the feedback given from others, since things listed as positive by one group of people were listed as negative from others. As an example, some individuals were quite impressed with the market research we did. Some others said our research was insufficient. These contradictions really made it hard to see what we needed to improve. At least, this semester, the presentations are assessed by the tutors of this course, and their feedback should be much more useful.<br><br>To conclude this entry, there is a lot of ground to cover during the next few weeks, and the midsem break. But, I'm still optimistic. We are still passionate about and commited to Pairfit, and I believe that it is just unluckiness, and not loss of interest that have caused other team members to miss/delay/be unable to complete tasks.</p>
</div>


        
    </div>
</div>

    </div>
</div>

    </div>
</div>




            </main>
          </div>
        </div>
        <div id="footer">
            <p>Export generated for Emmanuel Morfiadakis on 02 July 2018, 12:14 AM, from their portfolio at <a href="https://eportfolio.anu.edu.au/">ANU ePortfolios</a></p>
        </div>
    </body>
</html>

