<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
        <title>Emmanuel Morfiadakis - Portfolio</title>
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/export/style/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/export/style/print.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/anu/static/export/style/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/anu/static/export/style/print.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/style/views.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/style/tinymce.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/style/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/style/style-blessed1.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/style/datepicker.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/style/cookieconsent.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/anu/static/style/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/anu/static/style/style-blessed1.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/local/static/style/style-dist.css">

    </head>
    <body>
        <header class="header navbar navbar-default no-site-messages">
            <div class="container">
                <div class="logo-area" id="logo-area">
                    <!-- Hardcoded url to ANU website -->
                    <a class="logo" href="http://www.anu.edu.au">
                        <img alt="ANU ePortfolios" src="../../static/theme/anu/static/images/site-logo.png">
                    </a>
                </div>
            </div>
         </header>
         <div class="main-content-container">
           <div class="container main-content">
              <div class="row">
                <main id="main" class="main">
                  <h1><a href="../../index.html">Week 11</a></h1>
                  <div id="content">
                    <div id="breadcrumbs" class="breadcrumbs">
                    <ul>
                        <li>You are here: <a href="../../index.html">Home</a></li>
                            <li>&raquo; Pages</li>
                            <li>&raquo; <a href="index.html">Week 11</a></li>
    
                    </ul>
                  </div>
                  <div id="breadcrumbs-footer"></div>


<div class="breadcrumbs collection">
   <ul>
     <li class="collectionname">COMP3100 Semester 2 portfolio</li>
     | <li><a href="../../views/%57%65%65%6b%2d%33/index.html">Week 3</a></li>
     | <li><a href="../../views/%57%65%65%6b%2d%34/index.html">Week 4</a></li>
     | <li><a href="../../views/%57%65%65%6b%2d%36/index.html">Week 6</a></li>
     | <li><a href="../../views/%57%65%65%6b%2d%37/index.html">Week 7</a></li>
     | <li><a href="../../views/%4d%69%64%2d%73%65%6d%65%73%74%65%72%2d%62%72%65%61%6b/index.html">Mid semester break</a></li>
     | <li><a href="../../views/%57%65%65%6b%2d%38%2d%61%6e%64%2d%57%65%65%6b%2d%39/index.html">Week 8 and Week 9</a></li>
     | <li><a href="../../views/%57%65%65%6b%2d%31%30/index.html">Week 10</a></li>
     | <li class="selected"><a href="../../views/%57%65%65%6b%2d%31%31/index.html">Week 11</a></li>
     | <li><a href="../../views/%46%69%6e%61%6c%2d%45%6e%74%72%79%2d/index.html">Final Entry </a></li>

   </ul>
</div>
<div class="cb"></div>


<p id="view-description"><p>COMP3100 portfolio entry #8</p></p>

<div id="row_1" class="clearfix">
    <div class="row-content">
    <div id="row_1_column_1" class="column-layout columns1 first last col-width-100" style="width: 100%;">
    <div class="column-content">
        <div class="bt-text panel panel-secondary clearfix " id="blockinstance_8039">
            <h3 class="title panel-heading js-heading">
            

            Where we are now
            


            

        </h3>
    

    <div class="block"  id="blockinstance_8039_target" data-blocktype-noajax="8039">
        <div class="textblock panel-body flush">
<p>So, we are in the middle of week 11. I was able to complete the iOS registration, and the app is now open for beta participation, in both marketplaces. However, we haven't had many users try it. That is because we've kept a bit silent, and people are unaware they can use their app. However, the interest is there.</p>
<p>Other than this, we are also preparing for the TechLauncher showcase. We have a lot of resources available already, from our participation in ANU open day. Overall, we are not stressed about this. The only thing to do is to create and submit the poster we'll have to use. I'm currently working on it, and I'll talk about this on the contribution part of this entry.</p>
<p>Finally, the last thing we need to do as a team is to prepare for our final project review. This is three weeks away from now, so we have decided to focus on exams and other responsibilities first, and then start working on that.</p>
</div>


        
    </div>
</div>

    </div>
</div>

    </div>
</div>
<div id="row_2" class="clearfix">
    <div class="row-content">
    <div id="row_2_column_1" class="column-layout columns3 first col-width-50" style="width:48%;">
    <div class="column-content">
        <div class="bt-text panel panel-secondary clearfix " id="blockinstance_8040">
            <h3 class="title panel-heading js-heading">
            

            My contributions this week
            


            

        </h3>
    

    <div class="block"  id="blockinstance_8040_target" data-blocktype-noajax="8040">
        <div class="textblock panel-body flush">
<p>Again, I worked a lot on documentation this week. For starters, I created a document containing all the tasks that need to be completed for the project to be maintainable. The document can be seen to the right. Our goal is to allocate these tasks to each team member and complete them before the start of week 13, so around the end of October. I believe I've covered everything required so that people that are not familiar with the project can understand our platform, should they need to work on it.</p>
<p>In addition, I went through our existing documentation and brought it up to date. As an example, we have a glossary document that contains all the important source code files, and their role. This wasn't touched since July, so it was a bit outdated. In addition, our notes from tutorial meetings were all over the place, so I collected them and moved them all to one folder, and sorted them alphabetically. This process will not only be helpful for future members of the PairFit team, but it will also help us prepare for the final project review.</p>
<p>And last but not least, I also started working on a draft of the poster we need to prepare for next week. I've posted our current draft down below, but it is not yet complete. In any case, this process was much easier, because of all the marketing resources we have collected. In addition, Jarrod has been extremely helpful, and has provided some poster mock-ups he did in the past. I've been combining these, and I've been adding to them, in order to ensure that the final poster we submit complies with the poster requirements, as in the TechLauncher website. Not only will the poster be useful for attracting the attention of others in the showcase, but we can use it in the future to start advertising the startup around the ANU.</p>
</div>


        
    </div>
</div>

    </div>
</div>
<div id="row_2_column_2" class="column-layout columns3 col-width-25" style="width:23%;">
    <div class="column-content">
        <div class="bt-pdf panel panel-secondary clearfix " id="blockinstance_8046">
            <h3 class="title panel-heading js-heading">
            

            Glossary Document
            


            

        </h3>
    

    <div class="block"  id="blockinstance_8046_target" data-blocktype-noajax="8046">
        <div class="panel-body">
<iframe src="https://eportfolio.anu.edu.au/artefact/file/blocktype/pdf/viewer.php?editing=&ingroup=&file=192705&lang=en&view=1900" width="100%" height="500" frameborder="0"></iframe>
</div>
    <div class="comments pull-left">
        
                    <a class="addcomment link-blocktype" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=1900&amp;artefact=192705">
                <span class="icon icon-arrow-circle-right" role="presentation" aria-hidden="true"></span>
                Add comment
            </a>
        
    </div>

    <div class="feedback modal modal-docked" id="feedbacktable_8046">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <button class="deletebutton close" data-dismiss="modal-docked">
                        <span class="times">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title pull-left">
                        <span class="icon icon-lg icon-comments left" role="presentation" aria-hidden="true"></span>
                        Comments - Glossary.pdf.1
                    </h4>
                                        <a class="addcomment pull-right" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=1900&amp;artefact=192705">
                        Add comment
                        <span class="icon icon-arrow-right right" role="presentation" aria-hidden="true"></span>
                    </a>
                    
                </div>
                <div class="modal-body flush">
                <!-- The "feedbacktable" class is used as an identifier by Javascript -->
<div class="list-group list-group-lite">

</div>

                </div>
            </div>
        </div>
    </div>




        
                            <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=192705&amp;view=1900&amp;block=8046" class="detail-link link-blocktype"><span class="icon icon-link" role="presentation" aria-hidden="true"></span> Details</a>
            
        
    </div>
</div>

    </div>
</div>
<div id="row_2_column_3" class="column-layout columns3 last col-width-25" style="width:23%;">
    <div class="column-content">
        <div class="bt-pdf panel panel-secondary clearfix " id="blockinstance_8045">
            <h3 class="title panel-heading js-heading">
            

            Documentation tasks
            


            

        </h3>
    

    <div class="block"  id="blockinstance_8045_target" data-blocktype-noajax="8045">
        <div class="panel-body">
<iframe src="https://eportfolio.anu.edu.au/artefact/file/blocktype/pdf/viewer.php?editing=&ingroup=&file=192703&lang=en&view=1900" width="100%" height="500" frameborder="0"></iframe>
</div>
    <div class="comments pull-left">
        
                    <a class="addcomment link-blocktype" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=1900&amp;artefact=192703">
                <span class="icon icon-arrow-circle-right" role="presentation" aria-hidden="true"></span>
                Add comment
            </a>
        
    </div>

    <div class="feedback modal modal-docked" id="feedbacktable_8045">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <button class="deletebutton close" data-dismiss="modal-docked">
                        <span class="times">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title pull-left">
                        <span class="icon icon-lg icon-comments left" role="presentation" aria-hidden="true"></span>
                        Comments - Documentationtasks.pdf
                    </h4>
                                        <a class="addcomment pull-right" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=1900&amp;artefact=192703">
                        Add comment
                        <span class="icon icon-arrow-right right" role="presentation" aria-hidden="true"></span>
                    </a>
                    
                </div>
                <div class="modal-body flush">
                <!-- The "feedbacktable" class is used as an identifier by Javascript -->
<div class="list-group list-group-lite">

</div>

                </div>
            </div>
        </div>
    </div>




        
                            <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=192703&amp;view=1900&amp;block=8045" class="detail-link link-blocktype"><span class="icon icon-link" role="presentation" aria-hidden="true"></span> Details</a>
            
        
    </div>
</div>

    </div>
</div>

    </div>
</div>
<div id="row_3" class="clearfix">
    <div class="row-content">
    <div id="row_3_column_1" class="column-layout columns2 first col-width-67" style="width:65%;">
    <div class="column-content">
        <div class="bt-text panel panel-secondary clearfix " id="blockinstance_8041">
            <h3 class="title panel-heading js-heading">
            

            Closing thoughts
            


            

        </h3>
    

    <div class="block"  id="blockinstance_8041_target" data-blocktype-noajax="8041">
        <div class="textblock panel-body flush">
<p>Overall, not too much work this week. I've had time to commit to my other responsibilities, which is always nice.</p>
<p>It does look like the Pairfit chapter of TechLauncher is getting close to it's end. What remains now is to start marketing the product, but Jarrod and AJ seem to have this responsibility. As such, my role in the team is coming to a close.</p>
<p>Next week's entry will be my last one. It's format will also be different. It will be more like a reflection, instead of a work portfolio, given that there aren't any other contributions I can talk about. I think it would be appropriate to  talk about what I've learned, what went well, what didn't go as well, and so on.</p>
</div>


        
    </div>
</div>

    </div>
</div>
<div id="row_3_column_2" class="column-layout columns2 last col-width-33" style="width:31%;">
    <div class="column-content">
        <div class="bt-image panel panel-secondary clearfix " id="blockinstance_8043">
            <h3 class="title panel-heading js-heading">
            

            Poster Draft I&#039;ve been working on
            


            

        </h3>
    

    <div class="block"  id="blockinstance_8043_target" data-blocktype-noajax="8043">
        <div class="imageblock panel-body" itemscope itemtype="http://schema.org/ImageObject">
    <div class="image">
        <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=192702&amp;view=1900">
            <img src="../../files/file/192702-maxwidth-300-PairFit Poster.png" alt="PairFit Poster.png" itemprop="contentURL">
        </a>
    </div>

    
</div>

    <div class="comments pull-left">
        
                    <a class="addcomment link-blocktype" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=1900&amp;artefact=192702">
                <span class="icon icon-arrow-circle-right" role="presentation" aria-hidden="true"></span>
                Add comment
            </a>
        
    </div>

    <div class="feedback modal modal-docked" id="feedbacktable_8043">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <button class="deletebutton close" data-dismiss="modal-docked">
                        <span class="times">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title pull-left">
                        <span class="icon icon-lg icon-comments left" role="presentation" aria-hidden="true"></span>
                        Comments - PairFit Poster.png
                    </h4>
                                        <a class="addcomment pull-right" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=1900&amp;artefact=192702">
                        Add comment
                        <span class="icon icon-arrow-right right" role="presentation" aria-hidden="true"></span>
                    </a>
                    
                </div>
                <div class="modal-body flush">
                <!-- The "feedbacktable" class is used as an identifier by Javascript -->
<div class="list-group list-group-lite">

</div>

                </div>
            </div>
        </div>
    </div>




        
                            <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=192702&amp;view=1900&amp;block=8043" class="detail-link link-blocktype"><span class="icon icon-link" role="presentation" aria-hidden="true"></span> Details</a>
            
        
    </div>
</div>

    </div>
</div>

    </div>
</div>




            </main>
          </div>
        </div>
        <div id="footer">
            <p>Export generated for Emmanuel Morfiadakis on 02 July 2018, 12:14 AM, from their portfolio at <a href="https://eportfolio.anu.edu.au/">ANU ePortfolios</a></p>
        </div>
    </body>
</html>

