<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
        <title>Emmanuel Morfiadakis - Portfolio</title>
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/export/style/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/export/style/print.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/anu/static/export/style/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/anu/static/export/style/print.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/style/views.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/style/tinymce.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/style/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/style/style-blessed1.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/style/datepicker.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/style/cookieconsent.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/anu/static/style/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/anu/static/style/style-blessed1.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/local/static/style/style-dist.css">

    </head>
    <body>
        <header class="header navbar navbar-default no-site-messages">
            <div class="container">
                <div class="logo-area" id="logo-area">
                    <!-- Hardcoded url to ANU website -->
                    <a class="logo" href="http://www.anu.edu.au">
                        <img alt="ANU ePortfolios" src="../../static/theme/anu/static/images/site-logo.png">
                    </a>
                </div>
            </div>
         </header>
         <div class="main-content-container">
           <div class="container main-content">
              <div class="row">
                <main id="main" class="main">
                  <h1><a href="../../index.html">Week 8 and Week 9</a></h1>
                  <div id="content">
                    <div id="breadcrumbs" class="breadcrumbs">
                    <ul>
                        <li>You are here: <a href="../../index.html">Home</a></li>
                            <li>&raquo; Pages</li>
                            <li>&raquo; <a href="index.html">Week 8 and Week 9</a></li>
    
                    </ul>
                  </div>
                  <div id="breadcrumbs-footer"></div>


<div class="breadcrumbs collection">
   <ul>
     <li class="collectionname">COMP3100 Semester 2 portfolio</li>
     | <li><a href="../../views/%57%65%65%6b%2d%33/index.html">Week 3</a></li>
     | <li><a href="../../views/%57%65%65%6b%2d%34/index.html">Week 4</a></li>
     | <li><a href="../../views/%57%65%65%6b%2d%36/index.html">Week 6</a></li>
     | <li><a href="../../views/%57%65%65%6b%2d%37/index.html">Week 7</a></li>
     | <li><a href="../../views/%4d%69%64%2d%73%65%6d%65%73%74%65%72%2d%62%72%65%61%6b/index.html">Mid semester break</a></li>
     | <li class="selected"><a href="../../views/%57%65%65%6b%2d%38%2d%61%6e%64%2d%57%65%65%6b%2d%39/index.html">Week 8 and Week 9</a></li>
     | <li><a href="../../views/%57%65%65%6b%2d%31%30/index.html">Week 10</a></li>
     | <li><a href="../../views/%57%65%65%6b%2d%31%31/index.html">Week 11</a></li>
     | <li><a href="../../views/%46%69%6e%61%6c%2d%45%6e%74%72%79%2d/index.html">Final Entry </a></li>

   </ul>
</div>
<div class="cb"></div>


<p id="view-description"><p>COMP3100 portfolio entry #6</p></p>

<div id="row_1" class="clearfix">
    <div class="row-content">
    <div id="row_1_column_1" class="column-layout columns1 first last col-width-100" style="width: 100%;">
    <div class="column-content">
        <div class="bt-text panel panel-secondary clearfix " id="blockinstance_6832">
            <h3 class="title panel-heading js-heading">
            

             Where we are now
            


            

        </h3>
    

    <div class="block"  id="blockinstance_6832_target" data-blocktype-noajax="6832">
        <div class="textblock panel-body flush">
<p>So, I was planning on having separate entries for weeks 8 and 9. However, most of the work that the team and I completed during this time period was focused on finalising and pushing a public beta to the Android store. As such, I've decided to write just one portfolio entry for weeks 8 and 9, since I would just be repeating myself if I separated these entries.</p>
<p>In any case, we were finally able to upload a beta version to the <a href="https://play.google.com/store/apps/details?id=com.ionicframework.pairfit252089&amp;hl=en">Google Play store</a>. The past two weeks were spent trying to make sure that the app is as bug free and stable as possible. As such, countless hours were spent debugging and fixing our backend. The day we went live was last Friday, so that would make it the 30th of September.</p>
<p>What we are doing now is preparing for the iOS beta. That means fixing iOS specific bugs and glitches. At the same time, we are collecting the feedback from the beta users of the Android beta version. What is left now is to:</p>
<ol><li>Fix the issues that users bring to our attention</li>
<li>Slowly start implementing some mini features that have not yet been completed yet (such as commitment scores and ratings)</li>
<li>Release the iOS beta</li>
<li>Take care of risk log issues that we haven't addressed yet</li>
</ol><p>So, essentially, we are pretty much done with features and we are slowly wrapping up the whole project. We also need to start utilising the marketing channels we established earlier this year. Fortunately, our client Jarrod has been extremely helpful with these things. We've got a few posters ready, we've created a website for the app, our Facebook page has around 300 likes currently... Overall, it looks like we are in control of the whole thing, and I'm extremely happy that everything is going well.</p>
</div>


        
    </div>
</div>

    </div>
</div>

    </div>
</div>
<div id="row_2" class="clearfix">
    <div class="row-content">
    <div id="row_2_column_1" class="column-layout columns2 first col-width-33" style="width:31%;">
    <div class="column-content">
        <div class="bt-externalvideo panel panel-secondary clearfix " id="blockinstance_7123">
            <h3 class="title panel-heading js-heading">
            

            PairFit App - Play Store
            


            

        </h3>
    

    <div class="block"  id="blockinstance_7123_target" data-blocktype-noajax="7123">
        <div class="mediaplayer-container text-center">
  <div id="vid_7123" class="mediaplayer" style="margin: 0 auto;">
    <a class="embedly-card" href="https://play.google.com/store/apps/details?id=com.ionicframework.pairfit252089&amp;hl=en"></a>
    
  </div>
</div>


        
    </div>
</div>

    </div>
</div>
<div id="row_2_column_2" class="column-layout columns2 last col-width-67" style="width:65%;">
    <div class="column-content">
        <div class="bt-image panel panel-secondary clearfix " id="blockinstance_7127">
            <h3 class="title panel-heading js-heading">
            

            PairFit HQ - Finding issues the day before release
            


            

        </h3>
    

    <div class="block"  id="blockinstance_7127_target" data-blocktype-noajax="7127">
        <div class="imageblock panel-body" itemscope itemtype="http://schema.org/ImageObject">
    <div class="image">
        <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=189525&amp;view=1676">
            <img src="../../files/file/20160928_191910.jpg" alt="20160928_191910.jpg" itemprop="contentURL">
        </a>
    </div>

    
</div>

    <div class="comments pull-left">
        
                    <a class="addcomment link-blocktype" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=1676&amp;artefact=189525">
                <span class="icon icon-arrow-circle-right" role="presentation" aria-hidden="true"></span>
                Add comment
            </a>
        
    </div>

    <div class="feedback modal modal-docked" id="feedbacktable_7127">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <button class="deletebutton close" data-dismiss="modal-docked">
                        <span class="times">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title pull-left">
                        <span class="icon icon-lg icon-comments left" role="presentation" aria-hidden="true"></span>
                        Comments - 20160928_191910.jpg
                    </h4>
                                        <a class="addcomment pull-right" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=1676&amp;artefact=189525">
                        Add comment
                        <span class="icon icon-arrow-right right" role="presentation" aria-hidden="true"></span>
                    </a>
                    
                </div>
                <div class="modal-body flush">
                <!-- The "feedbacktable" class is used as an identifier by Javascript -->
<div class="list-group list-group-lite">

</div>

                </div>
            </div>
        </div>
    </div>




        
                            <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=189525&amp;view=1676&amp;block=7127" class="detail-link link-blocktype"><span class="icon icon-link" role="presentation" aria-hidden="true"></span> Details</a>
            
        
    </div>
</div>

    </div>
</div>

    </div>
</div>
<div id="row_3" class="clearfix">
    <div class="row-content">
    <div id="row_3_column_1" class="column-layout columns1 first last col-width-100" style="width: 100%;">
    <div class="column-content">
        <div class="bt-text panel panel-secondary clearfix " id="blockinstance_6855">
            <h3 class="title panel-heading js-heading">
            

            My contributions this week
            


            

        </h3>
    

    <div class="block"  id="blockinstance_6855_target" data-blocktype-noajax="6855">
        <div class="textblock panel-body flush">
<p>These last two weeks have been really intense. Apart from completing my tasks as usual, I also spent a lot of time going through the app and fixing every single issue/bug I could come across. As evidence, the number of git commits I pushed can be seen down below.</p>
<p>Apart from working solo, I also attended the 6-hour long development session last Thursday (the day before we launched). Originally, this was planned to be a 1 to 2 hour long meeting to go through the app and verify that it's ready for release. However, we ended up discovering some small issues that we decided to fix. Thus, the meeting was made into a dev session. Me, Monday an AJ basically spent the whole afternoon squashing bugs, and so on.</p>
<p>A measure of the team's productivity over these two weeks can be seen in the attached excel file below this paragraph. The aggregate of our work was around 3600 minutes, which is 60 hours of project work. This only counts programming tasks, and not maintenance, meetings, or other non-programming tasks. Of these 60 hours, I think my share is around 15-17 hours. Including meetings and other project-related things (such as completing peer reviews, etc) my contributions were around 22 hours (I believe).</p>
<p>Getting more specific, I spent most of the time compiling the app for Android devices and testing it on my phone. One downside of Ionic is that browser emulation is not 100% accurate. Android devices are very diverse (s<a href="https://techcrunch.com/2014/08/21/opensignal-2014-android-ecosystem-report/">ource</a>), and it's essential that we test our app on actual smartphones. Fortunately, this whole process takes around 2 minutes (including installing the app on the phone). Also, Google Chrome offers debugging features, so error logs can also be downloaded to a PC and analysed. A couple of examples of issues that I fixed include <a href="http://ngcordova.com/docs/plugins/pushNotifications/">device tokens</a> not being pulled correctly, and Facebook's API not updating profile images correctly. Some other tasks I completed can be seen in the commit log image below.</p>
<p>Apart from the usual bug fixing, I also got to try something new this week: running maintenance operations on the server that we use to communicate with the clients. As I've mentioned, the server contains a database, and the backend (written in node.js) that is used to communicate with the database. Some of the things I had to do are the following:</p>
<ol><li>Check the server crash log. If the crash was caused by a bug, try and fix it. Otherwise note the crash and the reason behind it.</li>
<li>Delete inconsistencies in the database, such as a user with no last name, invalid emails, invitations to events that have been deleted, and so on</li>
<li>Ensure that the server software is up to date</li>
</ol><p>This was a really interesting experience, as I don't get to run server maintenance frequently, and I only work on the code, test it locally, commit it, and then it is automatically downloaded to the server. Seeing our architecture in reality is a whole different thing, and it makes me appreciate abstraction more. </p>
<p>Summarising my contributions these past weeks in one sentence, I would say I helped the project move from the development phase to the getting ready to release phase. With the help of the rest of the team, we only delayed our beta release by one week, which is a reasonable amount of time, given that we don't have experience doing this sort of thing,</p>
</div>


        
    </div>
</div>

    </div>
</div>

    </div>
</div>
<div id="row_4" class="clearfix">
    <div class="row-content">
    <div id="row_4_column_1" class="column-layout columns2 first col-width-50" style="width:48%;">
    <div class="column-content">
        <div class="bt-image panel panel-secondary clearfix " id="blockinstance_7124">
            <h3 class="title panel-heading js-heading">
            

            Graph of git commits these past 2 weeks
            


            

        </h3>
    

    <div class="block"  id="blockinstance_7124_target" data-blocktype-noajax="7124">
        <div class="imageblock panel-body" itemscope itemtype="http://schema.org/ImageObject">
    <div class="image">
        <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=189522&amp;view=1676">
            <img src="../../files/file/logs_result.png" alt="logs_result.png" itemprop="contentURL">
        </a>
    </div>

    
</div>

    <div class="comments pull-left">
        
                    <a class="addcomment link-blocktype" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=1676&amp;artefact=189522">
                <span class="icon icon-arrow-circle-right" role="presentation" aria-hidden="true"></span>
                Add comment
            </a>
        
    </div>

    <div class="feedback modal modal-docked" id="feedbacktable_7124">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <button class="deletebutton close" data-dismiss="modal-docked">
                        <span class="times">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title pull-left">
                        <span class="icon icon-lg icon-comments left" role="presentation" aria-hidden="true"></span>
                        Comments - logs_result.png
                    </h4>
                                        <a class="addcomment pull-right" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=1676&amp;artefact=189522">
                        Add comment
                        <span class="icon icon-arrow-right right" role="presentation" aria-hidden="true"></span>
                    </a>
                    
                </div>
                <div class="modal-body flush">
                <!-- The "feedbacktable" class is used as an identifier by Javascript -->
<div class="list-group list-group-lite">

</div>

                </div>
            </div>
        </div>
    </div>




        
                            <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=189522&amp;view=1676&amp;block=7124" class="detail-link link-blocktype"><span class="icon icon-link" role="presentation" aria-hidden="true"></span> Details</a>
            
        
    </div>
</div>

    </div>
</div>
<div id="row_4_column_2" class="column-layout columns2 last col-width-50" style="width:48%;">
    <div class="column-content">
        <div class="bt-filedownload panel panel-secondary clearfix " id="blockinstance_7128">
            <h3 class="title panel-heading js-heading">
            

            Detailed report of completed tasks and estimates
            


            

        </h3>
    

    <div class="block"  id="blockinstance_7128_target" data-blocktype-noajax="7128">
        <ul class="list-group">
    <li class="filedownload-item list-group-item">
        <a href="../../files/file/Time Tracking Report.xls" class="outer-link icon-on-hover">
            <span class="sr-only">
                Download Time Tracking Report.xls
            </span>
        </a>

                    <span class="icon icon-file icon-lg left" role="presentation" aria-hidden="true"></span>
        

        <h4 class="title list-group-item-heading text-inline">
            <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=189526&view=1676" class="inner-link">
                 Time Tracking Report.xls
                 <span class="sr-only">
                    Details
                </span>
            </a>
        </h4>
        <span class="text-small text-midtone"> -
            Sunday, 02 October 2016
            [23.7KB]
        </span>
        <span class="icon icon-download icon-lg pull-right text-watermark icon-action" role="presentation" aria-hidden="true"></span>
        
    </li>
    
</ul>



        
    </div>
</div>
<div class="bt-image panel panel-secondary clearfix " id="blockinstance_7125">
            <h3 class="title panel-heading js-heading">
            

            Example of bugfixing tasks completed this week
            


            

        </h3>
    

    <div class="block"  id="blockinstance_7125_target" data-blocktype-noajax="7125">
        <div class="imageblock panel-body" itemscope itemtype="http://schema.org/ImageObject">
    <div class="image">
        <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=189523&amp;view=1676">
            <img src="../../files/file/contrib_result.png" alt="contrib_result.png" itemprop="contentURL">
        </a>
    </div>

    
</div>

    <div class="comments pull-left">
        
                    <a class="addcomment link-blocktype" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=1676&amp;artefact=189523">
                <span class="icon icon-arrow-circle-right" role="presentation" aria-hidden="true"></span>
                Add comment
            </a>
        
    </div>

    <div class="feedback modal modal-docked" id="feedbacktable_7125">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <button class="deletebutton close" data-dismiss="modal-docked">
                        <span class="times">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title pull-left">
                        <span class="icon icon-lg icon-comments left" role="presentation" aria-hidden="true"></span>
                        Comments - contrib_result.png
                    </h4>
                                        <a class="addcomment pull-right" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=1676&amp;artefact=189523">
                        Add comment
                        <span class="icon icon-arrow-right right" role="presentation" aria-hidden="true"></span>
                    </a>
                    
                </div>
                <div class="modal-body flush">
                <!-- The "feedbacktable" class is used as an identifier by Javascript -->
<div class="list-group list-group-lite">

</div>

                </div>
            </div>
        </div>
    </div>




        
                            <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=189523&amp;view=1676&amp;block=7125" class="detail-link link-blocktype"><span class="icon icon-link" role="presentation" aria-hidden="true"></span> Details</a>
            
        
    </div>
</div>

    </div>
</div>

    </div>
</div>
<div id="row_5" class="clearfix">
    <div class="row-content">
    <div id="row_5_column_1" class="column-layout columns1 first last col-width-100" style="width: 100%;">
    <div class="column-content">
        <div class="bt-text panel panel-secondary clearfix " id="blockinstance_7122">
            <h3 class="title panel-heading js-heading">
            

            Closing thoughts
            


            

        </h3>
    

    <div class="block"  id="blockinstance_7122_target" data-blocktype-noajax="7122">
        <div class="textblock panel-body flush">
<p>I'm quite happy that the app is out there, for people to use. As I have mentioned in the past, one issue with the project is that it's difficult to get objective feedback from users. With the beta release, not only we are able to improve the software we are building, but we can also integrate different ideas that we've never thought of.</p>
<p> The next important thing to prepare for is the iOS beta release. After that, my responsibilities in this project will probably decrease in number, since the other team members, that will stay with PairFit after the end of TechLauncher, will be responsible for improving the app. But it's a long way until then. Even though we've only got a month left, we still need to complete a few important things before the final deadline. But, we are almost there.</p>
<p>In addition to the software being finalised, the Innovation ACT contest, in which some PairFit team members are participating, will also be coming to an end this month. Even though I didn't join my peers in this, I feel part of the team and I'm really interested in their progress. Hopefully they'll be successful, and PairFit will secure additional funding that will help it enter the market and cover operating costs in the future.</p>
<p>Until next time!</p>
</div>


        
    </div>
</div>
<div class="bt-image panel panel-secondary clearfix " id="blockinstance_7126">
            <h3 class="title panel-heading js-heading">
            

            Wrapping up the 6-hour long development session before releasing
            


            

        </h3>
    

    <div class="block"  id="blockinstance_7126_target" data-blocktype-noajax="7126">
        <div class="imageblock panel-body" itemscope itemtype="http://schema.org/ImageObject">
    <div class="image">
        <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=189524&amp;view=1676">
            <img src="../../files/file/20160928_191907.jpg" alt="20160928_191907.jpg" itemprop="contentURL">
        </a>
    </div>

    
</div>

    <div class="comments pull-left">
        
                    <a class="addcomment link-blocktype" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=1676&amp;artefact=189524">
                <span class="icon icon-arrow-circle-right" role="presentation" aria-hidden="true"></span>
                Add comment
            </a>
        
    </div>

    <div class="feedback modal modal-docked" id="feedbacktable_7126">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <button class="deletebutton close" data-dismiss="modal-docked">
                        <span class="times">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title pull-left">
                        <span class="icon icon-lg icon-comments left" role="presentation" aria-hidden="true"></span>
                        Comments - 20160928_191907.jpg
                    </h4>
                                        <a class="addcomment pull-right" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=1676&amp;artefact=189524">
                        Add comment
                        <span class="icon icon-arrow-right right" role="presentation" aria-hidden="true"></span>
                    </a>
                    
                </div>
                <div class="modal-body flush">
                <!-- The "feedbacktable" class is used as an identifier by Javascript -->
<div class="list-group list-group-lite">

</div>

                </div>
            </div>
        </div>
    </div>




        
                            <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=189524&amp;view=1676&amp;block=7126" class="detail-link link-blocktype"><span class="icon icon-link" role="presentation" aria-hidden="true"></span> Details</a>
            
        
    </div>
</div>

    </div>
</div>

    </div>
</div>
<div id="row_6" class="clearfix">
    <div class="row-content">
    <div id="row_6_column_1" class="column-layout columns1 first last col-width-100" style="width: 100%;">
    <div class="column-content">
        
    </div>
</div>

    </div>
</div>




            </main>
          </div>
        </div>
        <div id="footer">
            <p>Export generated for Emmanuel Morfiadakis on 02 July 2018, 12:14 AM, from their portfolio at <a href="https://eportfolio.anu.edu.au/">ANU ePortfolios</a></p>
        </div>
    </body>
</html>

