<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
        <title>Emmanuel Morfiadakis - Portfolio</title>
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/export/style/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/export/style/print.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/anu/static/export/style/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/anu/static/export/style/print.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/style/views.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/style/tinymce.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/style/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/style/style-blessed1.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/style/datepicker.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/style/cookieconsent.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/anu/static/style/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/anu/static/style/style-blessed1.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/local/static/style/style-dist.css">

    </head>
    <body>
        <header class="header navbar navbar-default no-site-messages">
            <div class="container">
                <div class="logo-area" id="logo-area">
                    <!-- Hardcoded url to ANU website -->
                    <a class="logo" href="http://www.anu.edu.au">
                        <img alt="ANU ePortfolios" src="../../static/theme/anu/static/images/site-logo.png">
                    </a>
                </div>
            </div>
         </header>
         <div class="main-content-container">
           <div class="container main-content">
              <div class="row">
                <main id="main" class="main">
                  <h1><a href="../../index.html">Week 10</a></h1>
                  <div id="content">
                    <div id="breadcrumbs" class="breadcrumbs">
                    <ul>
                        <li>You are here: <a href="../../index.html">Home</a></li>
                            <li>&raquo; Pages</li>
                            <li>&raquo; <a href="index.html">Week 10</a></li>
    
                    </ul>
                  </div>
                  <div id="breadcrumbs-footer"></div>


<div class="breadcrumbs collection">
   <ul>
     <li class="collectionname">COMP3100 Semester 2 portfolio</li>
     | <li><a href="../../views/%57%65%65%6b%2d%33/index.html">Week 3</a></li>
     | <li><a href="../../views/%57%65%65%6b%2d%34/index.html">Week 4</a></li>
     | <li><a href="../../views/%57%65%65%6b%2d%36/index.html">Week 6</a></li>
     | <li><a href="../../views/%57%65%65%6b%2d%37/index.html">Week 7</a></li>
     | <li><a href="../../views/%4d%69%64%2d%73%65%6d%65%73%74%65%72%2d%62%72%65%61%6b/index.html">Mid semester break</a></li>
     | <li><a href="../../views/%57%65%65%6b%2d%38%2d%61%6e%64%2d%57%65%65%6b%2d%39/index.html">Week 8 and Week 9</a></li>
     | <li class="selected"><a href="../../views/%57%65%65%6b%2d%31%30/index.html">Week 10</a></li>
     | <li><a href="../../views/%57%65%65%6b%2d%31%31/index.html">Week 11</a></li>
     | <li><a href="../../views/%46%69%6e%61%6c%2d%45%6e%74%72%79%2d/index.html">Final Entry </a></li>

   </ul>
</div>
<div class="cb"></div>


<p id="view-description"><p>COMP3100 portfolio entry #7</p></p>

<div id="row_1" class="clearfix">
    <div class="row-content">
    <div id="row_1_column_1" class="column-layout columns2 first col-width-33" style="width:31%;">
    <div class="column-content">
        <div class="bt-googleapps panel panel-secondary clearfix " id="blockinstance_7596">
            <h3 class="title panel-heading js-heading">
            

            Copy of our (now obsolete) project plan
            


            

        </h3>
    

    <div class="block"  id="blockinstance_7596_target" data-blocktype-noajax="7596">
        <div class="googleapps-container text-center">
    <div class="googleapps">
        <iframe width="100%" height="300" frameborder="0" src="https://docs.google.com/document/d/1Ly9y5o4L-3XNtK2fUsdU8i2kDC5RoLICjGYngyx2WA8/pub?embedded=true"></iframe>
    </div>
</div>


        
    </div>
</div>

    </div>
</div>
<div id="row_1_column_2" class="column-layout columns2 last col-width-67" style="width:65%;">
    <div class="column-content">
        <div class="bt-text panel panel-secondary clearfix " id="blockinstance_7593">
            <h3 class="title panel-heading js-heading">
            

            Where we are now
            


            

        </h3>
    

    <div class="block"  id="blockinstance_7593_target" data-blocktype-noajax="7593">
        <div class="textblock panel-body flush">
<p>Week 10, and that means two more weeks left for TechLauncher, and therefore, this chapter of the project. At the moment, everyone's tasks are become increasingly monotonous, and mostly revolve around wrapping up the project. Currently, we are in the process of releasing the beta for iOS and using the feedback we got from the Android release last week to tweak the app. Officially, we are never touching functionality again, unless it's something small, like adding a prompt when logging out of the app, and so on.</p>
<p>What is left to do is to start documenting the project, for any teams that might potentially work on it. This was suggested by Richard Jones, the project's tutor, and it is indeed something that we've put on hold for a while. During last semester, we were much more "formal" in bookkeeping, commenting, and managing the "admin" stuff a bit better. I won't lie, I think we got a bit lazy in semester two. Hence, we have to rush to complete documentation now.</p>
</div>


        
    </div>
</div>

    </div>
</div>

    </div>
</div>
<div id="row_2" class="clearfix">
    <div class="row-content">
    <div id="row_2_column_1" class="column-layout columns1 first last col-width-100" style="width: 100%;">
    <div class="column-content">
        <div class="bt-text panel panel-secondary clearfix " id="blockinstance_7594">
            <h3 class="title panel-heading js-heading">
            

            My contributions this week
            


            

        </h3>
    

    <div class="block"  id="blockinstance_7594_target" data-blocktype-noajax="7594">
        <div class="textblock panel-body flush">
<p>This week's tasks were just fixing a couple of issues that Android users had detected. They were far too specific to be worth mentioning, and they were fixed within minutes. There wasn't much programming involved this week, at least for me.</p>
<p>However, this doesn't mean that I didn't contribute to the project. This week's goal was to push and release the iOS beta, and I was responsible for doing so, while the rest of the team was working on other things.</p>
<p>So, for starters, I had to compile the application in Xcode and handle the necessary signatures and certificates. A while back, I had to work on Apple push notifications, so I had already generated the necessary files required to verify our app, before releasing it in the iOS app store. In addition, the knowledge from COMP3310 (Computer Networks), which I did last semester, helped immensely. I was able to produce the required binaries in a short amount of time.</p>
<p>The real issue came with uploading the app to the store, however. I'm not really experienced in this field, so I tried going through Apple's guidelines, to figure out what needs to be done. As it turns out, Apple's <a href="https://developer.apple.com/library/content/documentation/LanguagesUtilities/Conceptual/iTunesConnect_Guide/Chapters/UploadingBinariesforanApp.html">documentation </a>is a bit of a mess. The layout is not exactly straightforward, and the structure of the guide made finding answers to the questions I had extremely tedious. I ended up deciding to write this entry on my portfolio first, and giving up on uploading the app. My plan is to resume this task tomorrow.</p>
<p>Some other tasks I want to do is to start updating the documentation. As I've mentioned above, it's something that needs to be done, for when the project changes hands. Also, the final presentation for TechLauncher is in about a month, so it would be wise to start collecting artifacts as early as possible, given that exams are also coming up. Hence, I feel like shifting my focus to the management of the project is a reasonable thing to do.</p>
</div>


        
    </div>
</div>

    </div>
</div>

    </div>
</div>
<div id="row_3" class="clearfix">
    <div class="row-content">
    <div id="row_3_column_1" class="column-layout columns3 first col-width-33" style="width:31%;">
    <div class="column-content">
        <div class="bt-textbox panel panel-secondary clearfix " id="blockinstance_7599">
            <h3 class="title panel-heading js-heading">
            

            Certificate Resources example
            


            

        </h3>
    

    <div class="block"  id="blockinstance_7599_target" data-blocktype-noajax="7599">
        <div class="panel-body flush">
    <p>Certificate Resources:</p>
<ul><li><a href="https://gitlab.cecs.anu.edu.au/comp3310/course/wikis/SSL_prog_lab">https://gitlab.cecs.anu.edu.au/comp3310/course/wikis/SSL_prog_lab</a></li>
<li><a href="https://www.feistyduck.com/library/openssl-cookbook/online/">https://www.feistyduck.com/library/openssl-cookbook/online/</a></li>
<li><a href="https://www.openssl.org/">https://www.openssl.org/</a></li>
</ul>

    
</div>



    <div class="comments pull-left">
        
                    <a class="addcomment link-blocktype" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=1753&amp;artefact=191460">
                <span class="icon icon-arrow-circle-right" role="presentation" aria-hidden="true"></span>
                Add comment
            </a>
        
    </div>

    <div class="feedback modal modal-docked" id="feedbacktable_7599">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <button class="deletebutton close" data-dismiss="modal-docked">
                        <span class="times">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title pull-left">
                        <span class="icon icon-lg icon-comments left" role="presentation" aria-hidden="true"></span>
                        Comments - Certificate Resources example
                    </h4>
                                        <a class="addcomment pull-right" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=1753&amp;artefact=191460">
                        Add comment
                        <span class="icon icon-arrow-right right" role="presentation" aria-hidden="true"></span>
                    </a>
                    
                </div>
                <div class="modal-body flush">
                <!-- The "feedbacktable" class is used as an identifier by Javascript -->
<div class="list-group list-group-lite">

</div>

                </div>
            </div>
        </div>
    </div>




        
                            <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=191460&amp;view=1753&amp;block=7599" class="detail-link link-blocktype"><span class="icon icon-link" role="presentation" aria-hidden="true"></span> Details</a>
            
        
    </div>
</div>

    </div>
</div>
<div id="row_3_column_2" class="column-layout columns3 col-width-33" style="width:31%;">
    <div class="column-content">
        <div class="bt-image panel panel-secondary clearfix " id="blockinstance_7597">
            <h3 class="title panel-heading js-heading">
            

            Documentation in need of an update, untouched since July
            


            

        </h3>
    

    <div class="block"  id="blockinstance_7597_target" data-blocktype-noajax="7597">
        <div class="imageblock panel-body" itemscope itemtype="http://schema.org/ImageObject">
    <div class="image">
        <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=191459&amp;view=1753">
            <img src="../../files/file/191459-maxwidth-400-master_doc.png" alt="master_doc.png" itemprop="contentURL">
        </a>
    </div>

    
</div>

    <div class="comments pull-left">
        
                    <a class="addcomment link-blocktype" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=1753&amp;artefact=191459">
                <span class="icon icon-arrow-circle-right" role="presentation" aria-hidden="true"></span>
                Add comment
            </a>
        
    </div>

    <div class="feedback modal modal-docked" id="feedbacktable_7597">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <button class="deletebutton close" data-dismiss="modal-docked">
                        <span class="times">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title pull-left">
                        <span class="icon icon-lg icon-comments left" role="presentation" aria-hidden="true"></span>
                        Comments - master_doc.png
                    </h4>
                                        <a class="addcomment pull-right" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=1753&amp;artefact=191459">
                        Add comment
                        <span class="icon icon-arrow-right right" role="presentation" aria-hidden="true"></span>
                    </a>
                    
                </div>
                <div class="modal-body flush">
                <!-- The "feedbacktable" class is used as an identifier by Javascript -->
<div class="list-group list-group-lite">

</div>

                </div>
            </div>
        </div>
    </div>




        
                            <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=191459&amp;view=1753&amp;block=7597" class="detail-link link-blocktype"><span class="icon icon-link" role="presentation" aria-hidden="true"></span> Details</a>
            
        
    </div>
</div>

    </div>
</div>
<div id="row_3_column_3" class="column-layout columns3 last col-width-33" style="width:31%;">
    <div class="column-content">
        <div class="bt-image panel panel-secondary clearfix " id="blockinstance_7600">
            <h3 class="title panel-heading js-heading">
            

            Preparing the iOS app for submisison, from the join PairFit Apple account
            


            

        </h3>
    

    <div class="block"  id="blockinstance_7600_target" data-blocktype-noajax="7600">
        <div class="imageblock panel-body" itemscope itemtype="http://schema.org/ImageObject">
    <div class="image">
        <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=191461&amp;view=1753">
            <img src="../../files/file/apple_ac.png" alt="apple_ac.png" itemprop="contentURL">
        </a>
    </div>

    
</div>

    <div class="comments pull-left">
        
                    <a class="addcomment link-blocktype" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=1753&amp;artefact=191461">
                <span class="icon icon-arrow-circle-right" role="presentation" aria-hidden="true"></span>
                Add comment
            </a>
        
    </div>

    <div class="feedback modal modal-docked" id="feedbacktable_7600">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <button class="deletebutton close" data-dismiss="modal-docked">
                        <span class="times">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title pull-left">
                        <span class="icon icon-lg icon-comments left" role="presentation" aria-hidden="true"></span>
                        Comments - apple_ac.png
                    </h4>
                                        <a class="addcomment pull-right" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=1753&amp;artefact=191461">
                        Add comment
                        <span class="icon icon-arrow-right right" role="presentation" aria-hidden="true"></span>
                    </a>
                    
                </div>
                <div class="modal-body flush">
                <!-- The "feedbacktable" class is used as an identifier by Javascript -->
<div class="list-group list-group-lite">

</div>

                </div>
            </div>
        </div>
    </div>




        
                            <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=191461&amp;view=1753&amp;block=7600" class="detail-link link-blocktype"><span class="icon icon-link" role="presentation" aria-hidden="true"></span> Details</a>
            
        
    </div>
</div>

    </div>
</div>

    </div>
</div>
<div id="row_4" class="clearfix">
    <div class="row-content">
    <div id="row_4_column_1" class="column-layout columns1 first last col-width-100" style="width: 100%;">
    <div class="column-content">
        <div class="bt-text panel panel-secondary clearfix " id="blockinstance_7595">
            <h3 class="title panel-heading js-heading">
            

            Closing thoughts
            


            

        </h3>
    

    <div class="block"  id="blockinstance_7595_target" data-blocktype-noajax="7595">
        <div class="textblock panel-body flush">
<p>Well, we did it. The app is out there and it's stable. Hopefully, tomorrow will be the iOS release date, and then we can start wrapping things up.</p>
<p>Things should start to slow down now, with the app being complete in terms of functionality. I'll add one more entry to my portfolio next week, and then I'll do a reflection on what I've learned and what skills I've acquired from the course. Given that this is a work portfolio, I think that reflecting on what I got out from this project would be not only helpful for any potential employers reading this message, but for me as well.</p>
<p>Until next time!</p>
</div>


        
    </div>
</div>

    </div>
</div>

    </div>
</div>




            </main>
          </div>
        </div>
        <div id="footer">
            <p>Export generated for Emmanuel Morfiadakis on 02 July 2018, 12:14 AM, from their portfolio at <a href="https://eportfolio.anu.edu.au/">ANU ePortfolios</a></p>
        </div>
    </body>
</html>

