<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
        <title>Emmanuel Morfiadakis - Portfolio</title>
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/export/style/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/export/style/print.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/anu/static/export/style/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/anu/static/export/style/print.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/style/views.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/style/tinymce.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/style/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/style/style-blessed1.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/style/datepicker.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/style/cookieconsent.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/anu/static/style/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/anu/static/style/style-blessed1.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/local/static/style/style-dist.css">

    </head>
    <body>
        <header class="header navbar navbar-default no-site-messages">
            <div class="container">
                <div class="logo-area" id="logo-area">
                    <!-- Hardcoded url to ANU website -->
                    <a class="logo" href="http://www.anu.edu.au">
                        <img alt="ANU ePortfolios" src="../../static/theme/anu/static/images/site-logo.png">
                    </a>
                </div>
            </div>
         </header>
         <div class="main-content-container">
           <div class="container main-content">
              <div class="row">
                <main id="main" class="main">
                  <h1><a href="../../index.html">Final Entry </a></h1>
                  <div id="content">
                    <div id="breadcrumbs" class="breadcrumbs">
                    <ul>
                        <li>You are here: <a href="../../index.html">Home</a></li>
                            <li>&raquo; Pages</li>
                            <li>&raquo; <a href="index.html">Final Entry </a></li>
    
                    </ul>
                  </div>
                  <div id="breadcrumbs-footer"></div>


<div class="breadcrumbs collection">
   <ul>
     <li class="collectionname">COMP3100 Semester 2 portfolio</li>
     | <li><a href="../../views/%57%65%65%6b%2d%33/index.html">Week 3</a></li>
     | <li><a href="../../views/%57%65%65%6b%2d%34/index.html">Week 4</a></li>
     | <li><a href="../../views/%57%65%65%6b%2d%36/index.html">Week 6</a></li>
     | <li><a href="../../views/%57%65%65%6b%2d%37/index.html">Week 7</a></li>
     | <li><a href="../../views/%4d%69%64%2d%73%65%6d%65%73%74%65%72%2d%62%72%65%61%6b/index.html">Mid semester break</a></li>
     | <li><a href="../../views/%57%65%65%6b%2d%38%2d%61%6e%64%2d%57%65%65%6b%2d%39/index.html">Week 8 and Week 9</a></li>
     | <li><a href="../../views/%57%65%65%6b%2d%31%30/index.html">Week 10</a></li>
     | <li><a href="../../views/%57%65%65%6b%2d%31%31/index.html">Week 11</a></li>
     | <li class="selected"><a href="../../views/%46%69%6e%61%6c%2d%45%6e%74%72%79%2d/index.html">Final Entry </a></li>

   </ul>
</div>
<div class="cb"></div>


<p id="view-description"><p>COMP3100 portfolio entry #9</p></p>

<div id="row_1" class="clearfix">
    <div class="row-content">
    <div id="row_1_column_1" class="column-layout columns1 first last col-width-100" style="width: 100%;">
    <div class="column-content">
        <div class="bt-image panel panel-secondary clearfix " id="blockinstance_8703">
            <h3 class="title panel-heading js-heading">
            

            Reflection, taken from https://en.wikipedia.org/wiki/Reflection_(physics)
            


            

        </h3>
    

    <div class="block"  id="blockinstance_8703_target" data-blocktype-noajax="8703">
        <div class="imageblock panel-body" itemscope itemtype="http://schema.org/ImageObject">
    <div class="image">
        <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=193463&amp;view=2058">
            <img src="../../files/file/Reflection.jpg" alt="Reflection.jpg" itemprop="contentURL">
        </a>
    </div>

    
</div>

    <div class="comments pull-left">
        
                    <a class="addcomment link-blocktype" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=2058&amp;artefact=193463">
                <span class="icon icon-arrow-circle-right" role="presentation" aria-hidden="true"></span>
                Add comment
            </a>
        
    </div>

    <div class="feedback modal modal-docked" id="feedbacktable_8703">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <button class="deletebutton close" data-dismiss="modal-docked">
                        <span class="times">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title pull-left">
                        <span class="icon icon-lg icon-comments left" role="presentation" aria-hidden="true"></span>
                        Comments - Reflection.jpg
                    </h4>
                                        <a class="addcomment pull-right" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=2058&amp;artefact=193463">
                        Add comment
                        <span class="icon icon-arrow-right right" role="presentation" aria-hidden="true"></span>
                    </a>
                    
                </div>
                <div class="modal-body flush">
                <!-- The "feedbacktable" class is used as an identifier by Javascript -->
<div class="list-group list-group-lite">

</div>

                </div>
            </div>
        </div>
    </div>




        
                            <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=193463&amp;view=2058&amp;block=8703" class="detail-link link-blocktype"><span class="icon icon-link" role="presentation" aria-hidden="true"></span> Details</a>
            
        
    </div>
</div>
<div class="bt-text panel panel-secondary clearfix " id="blockinstance_8047">
            <h3 class="title panel-heading js-heading">
            

            Intro 
            


            

        </h3>
    

    <div class="block"  id="blockinstance_8047_target" data-blocktype-noajax="8047">
        <div class="textblock panel-body flush">
<p>I've decided to break down this final entry to two parts.</p>
<p>First, I'll talk about things that I liked about the project, and things I didn't enjoy as much.</p>
<p>And finally, I'll evaluate my overall contribution, with respect to my other teammates, and if this project went according to my expectations.</p>
<p>Enjoy!</p>
<p> </p>
</div>


        
    </div>
</div>

    </div>
</div>

    </div>
</div>
<div id="row_2" class="clearfix">
    <div class="row-content">
    <div id="row_2_column_1" class="column-layout columns2 first col-width-50" style="width:48%;">
    <div class="column-content">
        <div class="bt-text panel panel-secondary clearfix " id="blockinstance_8048">
            <h3 class="title panel-heading js-heading">
            

            Positives
            


            

        </h3>
    

    <div class="block"  id="blockinstance_8048_target" data-blocktype-noajax="8048">
        <div class="textblock panel-body flush">
<p>Simply put, I really liked this project and it surpassed my expectations. There are three things that made this project a positive experience for me:</p>
<p><strong>The team</strong></p>
<p>First of all, I found my teammates to be really competent and passionate, especially Jarrod and AJ. They never stopped working on the project, and gave it their best shot. They went above and beyond the call, participated in Innovation ACT, and were great in communicating with the rest of the team.</p>
<p>Andrew and Monday were great programmers and really sociable. They definitely make every meeting a fun session, and their contributions were invaluable.</p>
<p>As a team, we treated each other with respect. Everyone's opinion was heard and considered. I'm happy to say that we did not have any fights or fierce arguments. We'll definitely keep contact with each other after we go on our own ways, and we do not harbor any animosity. At least, I don't.</p>
<p>Overall, the team's composition was a huge plus, and I consider it to be one of the best things of the project. Shared interests, fun and easy going personalities, and mutual accountability were all attributes present in the project team, and I don't think we would be able to succeed in this endeavor if we didn't have these characteristics.</p>
<p><strong> Allocating work</strong></p>
<p>The amount of work that we needed to complete was also really reasonable.  Our way of allocating tasks, which consisted of assigning them to the team members that were more interested in completing them, helped keep things fresh. In addition, most of the time, team members were able to fully complete their tasks without delays or requiring help, which helped the balance of work. There were a few times, of course, when people had to step in, but overall, I don't feel the need to complain about the amount of work that everyone contributed.</p>
<p>Also related to work allocation was the type of tasks we had to complete. All four of us, the development team, had the chance to work with every aspect of the project, including the database, server, client app, configuring the app for release in the marketplaces and so on. I was able to explore many new things, and also learn a lot. As I've heard from some other of my colleagues that are working in TechLauncher projects, their weekly tasks usually revolve around one aspect of the project. I'm glad we did things differently. We truly had a startup environment, since we had to experiment, explore, collaborate... Even though we had positions, like team leaders or team members, in reality we were all equals.</p>
<p><strong> </strong></p>
<p><strong>Getting pushed out of my comfort zone</strong></p>
<p>I'll admit that as a person, I'm a bit shy and do not enjoy change. But for the purposes of this project, I had to do so many new things. A few examples include interacting with users in our focus groups, delivering pitches about our project to other students, and networking with mentors, tutors and other people interested in our work. Overall, working for Pairfit has made me realise that there is a social aspect in projects: Sharing ideas, gaining interest, capturing the attention of investors, and so on.</p>
<p>In addition, before the start of this course, I used to dislike presentations and the like, but I'm happy to say that I feel much more confident about these now. Being a part of a real-work software engineering process has helped me immensely. Given that I am leaving this project with the feeling that I accomplished something good and I improved myself is the biggest praise I can give to this project.</p>
<p> </p>
<p> </p>
<p> </p>
</div>


        
    </div>
</div>

    </div>
</div>
<div id="row_2_column_2" class="column-layout columns2 last col-width-50" style="width:48%;">
    <div class="column-content">
        <div class="bt-text panel panel-secondary clearfix " id="blockinstance_8049">
            <h3 class="title panel-heading js-heading">
            

            Negatives
            


            

        </h3>
    

    <div class="block"  id="blockinstance_8049_target" data-blocktype-noajax="8049">
        <div class="textblock panel-body flush">
<p>Of course, there is a negative side as well. Some things that I disliked and I would like to change include:</p>
<p><strong>Forgetting about assessment </strong></p>
<p>One thing that annoyed me was that the team was too focused on the project itself to consider assessment. It was mostly up to me to remind everyone to complete their peer reviews, prepare for the presentations, and so on. I did not like babysitting the whole team and constantly being that annoying guy that tells them to do things.</p>
<p><strong>Lack of planning and MAJOR lack of testing</strong></p>
<p>I understand that we are a startup, and we are more flexible than, say, client projects. However, that doesn't mean that we can do only the things we like. Even though planning was done, we would not check and re-evaluate our progress formally. In addition, testing was mostly done manually, and automated testing was minimal. As I've learned in the past, and from personal experience, both of these <a href="http://managementhelp.org/blogs/strategic-planning/2011/10/18/why-you-need-a-plan-5-good-reasons/">processes </a>are <a href="http://istqbexamcertification.com/what-is-the-purpose-and-importance-of-test-plans/">important</a>, so it was disappointing to see that we didn't pay much attention to these aspects of the project.</p>
<p><strong>Lack of reflecting</strong></p>
<p>As a team, we did not reflect much, even though we had the opportunity to do so from the insane amount of feedback we receive from this course. Even though some other team members were interested in doing so, this process would always get postponed to work on the project. I personally value self-improvement, so not taking the time to improve the things we do not do well enough was something I did not enjoy.</p>
</div>


        
    </div>
</div>

    </div>
</div>

    </div>
</div>
<div id="row_3" class="clearfix">
    <div class="row-content">
    <div id="row_3_column_1" class="column-layout columns1 first last col-width-100" style="width: 100%;">
    <div class="column-content">
        <div class="bt-text panel panel-secondary clearfix " id="blockinstance_8060">
            <h3 class="title panel-heading js-heading">
            

            My overall contribution
            


            

        </h3>
    

    <div class="block"  id="blockinstance_8060_target" data-blocktype-noajax="8060">
        <div class="textblock panel-body flush">
<p>After collecting some data, I'm happy to say that my contribution has been consistent, and this is reflected in team conversations, marks, and git metrics, as shown below.</p>
<p>On a personal level, I think I gave it my best shot. I attended almost all meetings and development sessions we had as a team, tinkered with every aspect of the project, including the database, server, and app, and tried my best when it comes to assessment.</p>
<p>The main reason that helped me remain consistent was my motivation, I think. As I mentioned above, the team, the way we did things, and the challenging environment of the startup helped me maintain my focus and made PairFit a great experience. Even now, my interest has not diminished, and I assured the team that I would like to help them in any way possible, after the end of TechLauncher.</p>
<p>If I had to go back and change things from my part, I would probably not do this. I won't deny that there were, of course, some up and downs, as is evident from previous entries, but overall I did my best, and I can't change that. I hope that the evidence at the end of this entry confirms this.</p>
</div>


        
    </div>
</div>
<div class="bt-text panel panel-secondary clearfix " id="blockinstance_8061">
            <h3 class="title panel-heading js-heading">
            

            Last word
            


            

        </h3>
    

    <div class="block"  id="blockinstance_8061_target" data-blocktype-noajax="8061">
        <div class="textblock panel-body flush">
<p>As a closing word, TechLauncher has been a great experience. I'm sort of sad that the project is ending, because I enjoyed my time here, and I'm glad that I started my professional career by working in such a great environment.</p>
<p>I really hope all the best to Jarrod and the other team leaders and members.</p>
<p>For potential employers reading my portfolio (and sticking around until the end!) I hope I succeeded in providing an overview of my skills, abilities and work ethics. Furthermore, I do hope that this read was interesting and insightful.</p>
<p>-- Emmanuel</p>
</div>


        
    </div>
</div>

    </div>
</div>

    </div>
</div>
<div id="row_4" class="clearfix">
    <div class="row-content">
    <div id="row_4_column_1" class="column-layout columns3 first col-width-33" style="width:31%;">
    <div class="column-content">
        <div class="bt-image panel panel-secondary clearfix " id="blockinstance_8062">
            <h3 class="title panel-heading js-heading">
            

            My marks, ranging from distinction and above
            


            

        </h3>
    

    <div class="block"  id="blockinstance_8062_target" data-blocktype-noajax="8062">
        <div class="imageblock panel-body" itemscope itemtype="http://schema.org/ImageObject">
    <div class="image">
        <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=192709&amp;view=2058">
            <img src="../../files/file/Distinction.png" alt="Distinction.png" itemprop="contentURL">
        </a>
    </div>

    
</div>

    <div class="comments pull-left">
        
                    <a class="addcomment link-blocktype" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=2058&amp;artefact=192709">
                <span class="icon icon-arrow-circle-right" role="presentation" aria-hidden="true"></span>
                Add comment
            </a>
        
    </div>

    <div class="feedback modal modal-docked" id="feedbacktable_8062">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <button class="deletebutton close" data-dismiss="modal-docked">
                        <span class="times">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title pull-left">
                        <span class="icon icon-lg icon-comments left" role="presentation" aria-hidden="true"></span>
                        Comments - Distinction.png
                    </h4>
                                        <a class="addcomment pull-right" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=2058&amp;artefact=192709">
                        Add comment
                        <span class="icon icon-arrow-right right" role="presentation" aria-hidden="true"></span>
                    </a>
                    
                </div>
                <div class="modal-body flush">
                <!-- The "feedbacktable" class is used as an identifier by Javascript -->
<div class="list-group list-group-lite">

</div>

                </div>
            </div>
        </div>
    </div>




        
                            <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=192709&amp;view=2058&amp;block=8062" class="detail-link link-blocktype"><span class="icon icon-link" role="presentation" aria-hidden="true"></span> Details</a>
            
        
    </div>
</div>
<div class="bt-image panel panel-secondary clearfix " id="blockinstance_8068">
            <h3 class="title panel-heading js-heading">
            

            Total time spent on issues per team member
            


            

        </h3>
    

    <div class="block"  id="blockinstance_8068_target" data-blocktype-noajax="8068">
        <div class="imageblock panel-body" itemscope itemtype="http://schema.org/ImageObject">
    <div class="image">
        <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=192722&amp;view=2058">
            <img src="../../files/file/timespent.png" alt="timespent.png" itemprop="contentURL">
        </a>
    </div>

    
</div>

    <div class="comments pull-left">
        
                    <a class="addcomment link-blocktype" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=2058&amp;artefact=192722">
                <span class="icon icon-arrow-circle-right" role="presentation" aria-hidden="true"></span>
                Add comment
            </a>
        
    </div>

    <div class="feedback modal modal-docked" id="feedbacktable_8068">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <button class="deletebutton close" data-dismiss="modal-docked">
                        <span class="times">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title pull-left">
                        <span class="icon icon-lg icon-comments left" role="presentation" aria-hidden="true"></span>
                        Comments - timespent.png
                    </h4>
                                        <a class="addcomment pull-right" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=2058&amp;artefact=192722">
                        Add comment
                        <span class="icon icon-arrow-right right" role="presentation" aria-hidden="true"></span>
                    </a>
                    
                </div>
                <div class="modal-body flush">
                <!-- The "feedbacktable" class is used as an identifier by Javascript -->
<div class="list-group list-group-lite">

</div>

                </div>
            </div>
        </div>
    </div>




        
                            <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=192722&amp;view=2058&amp;block=8068" class="detail-link link-blocktype"><span class="icon icon-link" role="presentation" aria-hidden="true"></span> Details</a>
            
        
    </div>
</div>

    </div>
</div>
<div id="row_4_column_2" class="column-layout columns3 col-width-33" style="width:31%;">
    <div class="column-content">
        <div class="bt-image panel panel-secondary clearfix " id="blockinstance_8063">
            <h3 class="title panel-heading js-heading">
            

            Git contributions to the back end, final edition
            


            

        </h3>
    

    <div class="block"  id="blockinstance_8063_target" data-blocktype-noajax="8063">
        <div class="imageblock panel-body" itemscope itemtype="http://schema.org/ImageObject">
    <div class="image">
        <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=192710&amp;view=2058">
            <img src="../../files/file/192710-maxwidth-500-Distinction.png.1" alt="Distinction.png.1" itemprop="contentURL">
        </a>
    </div>

    
</div>

    <div class="comments pull-left">
        
                    <a class="addcomment link-blocktype" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=2058&amp;artefact=192710">
                <span class="icon icon-arrow-circle-right" role="presentation" aria-hidden="true"></span>
                Add comment
            </a>
        
    </div>

    <div class="feedback modal modal-docked" id="feedbacktable_8063">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <button class="deletebutton close" data-dismiss="modal-docked">
                        <span class="times">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title pull-left">
                        <span class="icon icon-lg icon-comments left" role="presentation" aria-hidden="true"></span>
                        Comments - Distinction.png.1
                    </h4>
                                        <a class="addcomment pull-right" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=2058&amp;artefact=192710">
                        Add comment
                        <span class="icon icon-arrow-right right" role="presentation" aria-hidden="true"></span>
                    </a>
                    
                </div>
                <div class="modal-body flush">
                <!-- The "feedbacktable" class is used as an identifier by Javascript -->
<div class="list-group list-group-lite">

</div>

                </div>
            </div>
        </div>
    </div>




        
                            <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=192710&amp;view=2058&amp;block=8063" class="detail-link link-blocktype"><span class="icon icon-link" role="presentation" aria-hidden="true"></span> Details</a>
            
        
    </div>
</div>
<div class="bt-image panel panel-secondary clearfix " id="blockinstance_8065">
            <h3 class="title panel-heading js-heading">
            

            Open day participation
            


            

        </h3>
    

    <div class="block"  id="blockinstance_8065_target" data-blocktype-noajax="8065">
        <div class="imageblock panel-body" itemscope itemtype="http://schema.org/ImageObject">
    <div class="image">
        <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=187133&amp;view=2058">
            <img src="../../files/file/received_10154425522481665.jpeg" alt="received_10154425522481665.jpeg" itemprop="contentURL">
        </a>
    </div>

    
</div>

    <div class="comments pull-left">
        
                    <a class="addcomment link-blocktype" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=2058&amp;artefact=187133">
                <span class="icon icon-arrow-circle-right" role="presentation" aria-hidden="true"></span>
                Add comment
            </a>
        
    </div>

    <div class="feedback modal modal-docked" id="feedbacktable_8065">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <button class="deletebutton close" data-dismiss="modal-docked">
                        <span class="times">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title pull-left">
                        <span class="icon icon-lg icon-comments left" role="presentation" aria-hidden="true"></span>
                        Comments - received_10154425522481665.jpeg
                    </h4>
                                        <a class="addcomment pull-right" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=2058&amp;artefact=187133">
                        Add comment
                        <span class="icon icon-arrow-right right" role="presentation" aria-hidden="true"></span>
                    </a>
                    
                </div>
                <div class="modal-body flush">
                <!-- The "feedbacktable" class is used as an identifier by Javascript -->
<div class="list-group list-group-lite">

</div>

                </div>
            </div>
        </div>
    </div>




        
                            <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=187133&amp;view=2058&amp;block=8065" class="detail-link link-blocktype"><span class="icon icon-link" role="presentation" aria-hidden="true"></span> Details</a>
            
        
    </div>
</div>

    </div>
</div>
<div id="row_4_column_3" class="column-layout columns3 last col-width-33" style="width:31%;">
    <div class="column-content">
        <div class="bt-image panel panel-secondary clearfix " id="blockinstance_8064">
            <h3 class="title panel-heading js-heading">
            

            Conversation with team leader through Facebook
            


            

        </h3>
    

    <div class="block"  id="blockinstance_8064_target" data-blocktype-noajax="8064">
        <div class="imageblock panel-body" itemscope itemtype="http://schema.org/ImageObject">
    <div class="image">
        <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=192712&amp;view=2058">
            <img src="../../files/file/Pv.png.1" alt="Pv.png.1" itemprop="contentURL">
        </a>
    </div>

    
</div>

    <div class="comments pull-left">
        
                    <a class="addcomment link-blocktype" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=2058&amp;artefact=192712">
                <span class="icon icon-arrow-circle-right" role="presentation" aria-hidden="true"></span>
                Add comment
            </a>
        
    </div>

    <div class="feedback modal modal-docked" id="feedbacktable_8064">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <button class="deletebutton close" data-dismiss="modal-docked">
                        <span class="times">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title pull-left">
                        <span class="icon icon-lg icon-comments left" role="presentation" aria-hidden="true"></span>
                        Comments - Pv.png.1
                    </h4>
                                        <a class="addcomment pull-right" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=2058&amp;artefact=192712">
                        Add comment
                        <span class="icon icon-arrow-right right" role="presentation" aria-hidden="true"></span>
                    </a>
                    
                </div>
                <div class="modal-body flush">
                <!-- The "feedbacktable" class is used as an identifier by Javascript -->
<div class="list-group list-group-lite">

</div>

                </div>
            </div>
        </div>
    </div>




        
                            <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=192712&amp;view=2058&amp;block=8064" class="detail-link link-blocktype"><span class="icon icon-link" role="presentation" aria-hidden="true"></span> Details</a>
            
        
    </div>
</div>
<div class="bt-pdf panel panel-secondary clearfix " id="blockinstance_8067">
            <h3 class="title panel-heading js-heading">
            

            Copy of a peer review from semester 2
            


            

        </h3>
    

    <div class="block"  id="blockinstance_8067_target" data-blocktype-noajax="8067">
        <div class="panel-body">
<iframe src="https://eportfolio.anu.edu.au/artefact/file/blocktype/pdf/viewer.php?editing=&ingroup=&file=192719&lang=en&view=2058" width="100%" height="500" frameborder="0"></iframe>
</div>
    <div class="comments pull-left">
        
                    <a class="addcomment link-blocktype" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=2058&amp;artefact=192719">
                <span class="icon icon-arrow-circle-right" role="presentation" aria-hidden="true"></span>
                Add comment
            </a>
        
    </div>

    <div class="feedback modal modal-docked" id="feedbacktable_8067">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <button class="deletebutton close" data-dismiss="modal-docked">
                        <span class="times">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title pull-left">
                        <span class="icon icon-lg icon-comments left" role="presentation" aria-hidden="true"></span>
                        Comments - week08_Review_Feedback.pdf
                    </h4>
                                        <a class="addcomment pull-right" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=2058&amp;artefact=192719">
                        Add comment
                        <span class="icon icon-arrow-right right" role="presentation" aria-hidden="true"></span>
                    </a>
                    
                </div>
                <div class="modal-body flush">
                <!-- The "feedbacktable" class is used as an identifier by Javascript -->
<div class="list-group list-group-lite">

</div>

                </div>
            </div>
        </div>
    </div>




        
                            <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=192719&amp;view=2058&amp;block=8067" class="detail-link link-blocktype"><span class="icon icon-link" role="presentation" aria-hidden="true"></span> Details</a>
            
        
    </div>
</div>

    </div>
</div>

    </div>
</div>




            </main>
          </div>
        </div>
        <div id="footer">
            <p>Export generated for Emmanuel Morfiadakis on 02 July 2018, 12:14 AM, from their portfolio at <a href="https://eportfolio.anu.edu.au/">ANU ePortfolios</a></p>
        </div>
    </body>
</html>

