<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
        <title>Emmanuel Morfiadakis - Portfolio</title>
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/export/style/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/export/style/print.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/anu/static/export/style/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/anu/static/export/style/print.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/style/views.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/style/tinymce.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/style/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/style/style-blessed1.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/style/datepicker.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/style/cookieconsent.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/anu/static/style/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/anu/static/style/style-blessed1.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/local/static/style/style-dist.css">

    </head>
    <body>
        <header class="header navbar navbar-default no-site-messages">
            <div class="container">
                <div class="logo-area" id="logo-area">
                    <!-- Hardcoded url to ANU website -->
                    <a class="logo" href="http://www.anu.edu.au">
                        <img alt="ANU ePortfolios" src="../../static/theme/anu/static/images/site-logo.png">
                    </a>
                </div>
            </div>
         </header>
         <div class="main-content-container">
           <div class="container main-content">
              <div class="row">
                <main id="main" class="main">
                  <h1><a href="../../index.html">Week 7</a></h1>
                  <div id="content">
                    <div id="breadcrumbs" class="breadcrumbs">
                    <ul>
                        <li>You are here: <a href="../../index.html">Home</a></li>
                            <li>&raquo; Pages</li>
                            <li>&raquo; <a href="index.html">Week 7</a></li>
    
                    </ul>
                  </div>
                  <div id="breadcrumbs-footer"></div>


<div class="breadcrumbs collection">
   <ul>
     <li class="collectionname">COMP3100 Semester 2 portfolio</li>
     | <li><a href="../../views/%57%65%65%6b%2d%33/index.html">Week 3</a></li>
     | <li><a href="../../views/%57%65%65%6b%2d%34/index.html">Week 4</a></li>
     | <li><a href="../../views/%57%65%65%6b%2d%36/index.html">Week 6</a></li>
     | <li class="selected"><a href="../../views/%57%65%65%6b%2d%37/index.html">Week 7</a></li>
     | <li><a href="../../views/%4d%69%64%2d%73%65%6d%65%73%74%65%72%2d%62%72%65%61%6b/index.html">Mid semester break</a></li>
     | <li><a href="../../views/%57%65%65%6b%2d%38%2d%61%6e%64%2d%57%65%65%6b%2d%39/index.html">Week 8 and Week 9</a></li>
     | <li><a href="../../views/%57%65%65%6b%2d%31%30/index.html">Week 10</a></li>
     | <li><a href="../../views/%57%65%65%6b%2d%31%31/index.html">Week 11</a></li>
     | <li><a href="../../views/%46%69%6e%61%6c%2d%45%6e%74%72%79%2d/index.html">Final Entry </a></li>

   </ul>
</div>
<div class="cb"></div>


<p id="view-description"><div id="user_view-description" class="view-description">
<p>COMP3100 portfolio entry #4</p>
</div></p>

<div id="row_1" class="clearfix">
    <div class="row-content">
    <div id="row_1_column_1" class="column-layout columns2 first col-width-67" style="width:65%;">
    <div class="column-content">
        <div class="bt-text panel panel-secondary clearfix " id="blockinstance_6126">
            <h3 class="title panel-heading js-heading">
            

            Where we are now
            


            

        </h3>
    

    <div class="block"  id="blockinstance_6126_target" data-blocktype-noajax="6126">
        <div class="textblock panel-body flush">
<p>Week 7, last week before the break. People were still sick, so we didn't have a meeting this week either. As such, we continued working on our tasks. Fortunately, some of the team members had a lot of free time (due to their sickness), and were able to contribute a lot to the project.</p>
<p>A lot of interesting things happened this week. For starters, we took part in ANU open day, so I guess I'll start by talking about how this went.</p>
<p>So, we were assigned a stall inside the Ian Ross building, along with other teams/groups/societies. Me, Andrew and AJ were the team members that attended. Unfortunately, Monday could not make it. We met around 11AM and started setting up our stall. We had a monitor showcasing our project, and another computer that people could use to sign up to our mailing list. An image of the set up can be seen to the right. I'm on the right, Andrew is on the middle, and AJ is on the left.</p>
<p><br>The event went really well. We met a let of current and future ANU students, interested parents, ANU alumni, and so on. It was a good chance to practice or pitching skills and public speaking. We did help people learn about the project, and by extension, the TechLauncher initiative. The main benefit from our participation in this event, though, was that we were able to capture the interest of others, and expand our mailing list. This will be helpful for attracting people for our beta release, which will take place shortly before we go live, officially. Overall, open day was a huge success, and we did manage to benefit as a team, and on a personal level as well.</p>
<p>In other news, when it comes to development, we recently discovered that some bugs that we thought we fixed have resurfaced again. As such, we have given up adding features for a while, and we are focused on fixing these bugs. This was expected to happen sooner or later; however, most of these bugs are not critical. If I had to describe them, I would use the term "annoyances". But, we have to take care of them eventually, so why not get this over with as soon as possible?</p>
<p>After this week, we'll work full time on the project, to iron out the rest of the issues and finalise some mini features we want to add.</p>
</div>


        
    </div>
</div>

    </div>
</div>
<div id="row_1_column_2" class="column-layout columns2 last col-width-33" style="width:31%;">
    <div class="column-content">
        <div class="bt-image panel panel-secondary clearfix " id="blockinstance_6227">
            <h3 class="title panel-heading js-heading">
            

            Our open day stall
            


            

        </h3>
    

    <div class="block"  id="blockinstance_6227_target" data-blocktype-noajax="6227">
        <div class="imageblock panel-body" itemscope itemtype="http://schema.org/ImageObject">
    <div class="image">
        <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=187133&amp;view=1459">
            <img src="../../files/file/received_10154425522481665.jpeg" alt="received_10154425522481665.jpeg" itemprop="contentURL">
        </a>
    </div>

    
</div>

    <div class="comments pull-left">
        
                    <a class="addcomment link-blocktype" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=1459&amp;artefact=187133">
                <span class="icon icon-arrow-circle-right" role="presentation" aria-hidden="true"></span>
                Add comment
            </a>
        
    </div>

    <div class="feedback modal modal-docked" id="feedbacktable_6227">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <button class="deletebutton close" data-dismiss="modal-docked">
                        <span class="times">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title pull-left">
                        <span class="icon icon-lg icon-comments left" role="presentation" aria-hidden="true"></span>
                        Comments - received_10154425522481665.jpeg
                    </h4>
                                        <a class="addcomment pull-right" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=1459&amp;artefact=187133">
                        Add comment
                        <span class="icon icon-arrow-right right" role="presentation" aria-hidden="true"></span>
                    </a>
                    
                </div>
                <div class="modal-body flush">
                <!-- The "feedbacktable" class is used as an identifier by Javascript -->
<div class="list-group list-group-lite">

</div>

                </div>
            </div>
        </div>
    </div>




        
                            <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=187133&amp;view=1459&amp;block=6227" class="detail-link link-blocktype"><span class="icon icon-link" role="presentation" aria-hidden="true"></span> Details</a>
            
        
    </div>
</div>

    </div>
</div>

    </div>
</div>
<div id="row_2" class="clearfix">
    <div class="row-content">
    <div id="row_2_column_1" class="column-layout columns3 first col-width-50" style="width:48%;">
    <div class="column-content">
        <div class="bt-text panel panel-secondary clearfix " id="blockinstance_6228">
            <h3 class="title panel-heading js-heading">
            

             My contributions this week 
            


            

        </h3>
    

    <div class="block"  id="blockinstance_6228_target" data-blocktype-noajax="6228">
        <div class="textblock panel-body flush">
<p>Apart from my contribution in Open day (which consisted of setting up the questionnaire, buying candies to lure people to our stall, talking to strangers about the project and so on), I also worked on coding. In addition, I continued worked on the group presentation material for this Friday.</p>
<p>As far as development goes, I had to do the usual bugfixing tasks. As an example, I had to fix some graphical elements that were out of position (mostly text), redo some tabs in our application that didn't render correctly on iPhones, and reformat the code and add comments to it. These issues were related to the frontend. Our backend is very solid, we haven't had a server crash in well over a month, which in a sense, simplifies things.</p>
<p>After going through this process, I started working on some things that should be essential for a social networking application, but haven't yet been implemented. One of these was the ability to delete accounts. This task was not hard at all, as it only consisted of sending a delete request to the database and then logging the user out of the app. I had to code the delete request myself, but the logout() method was already there.</p>
<p>Another feature I added was a feedback form, that users can complete and submit. If we want to know what the users think, this is the way to go. This task was a bit more complicated, as I had to write code that saves the feedback text to the database, and also do some GUI work. As usual, I had some issues with CSS, but nothing too bad.</p>
<p>Most of these additions can be seen in the image gallery to the right. Some other things additions I've included are visual indicators to highlighted images, and making buttons transparent to reduce eye stress.</p>
<p>Moving away from dev work, I also spent my time on the presentation we have on Friday. I used last week's template to complete my part of the slides, and also organised a Skype session so that we can practice as a team, and see if the whole thing makes sense, or if there are parts of it that we need to revise. I was also responsible for finalising the slides, and submitting them online. I feel like I contributed the most to preparing for it, and I think that the team recognised this and made me have a smaller role in the actual presentation. In any case, my work helped us be prepared in time.</p>
</div>


        
    </div>
</div>

    </div>
</div>
<div id="row_2_column_2" class="column-layout columns3 col-width-25" style="width:23%;">
    <div class="column-content">
        <div class="bt-image panel panel-secondary clearfix " id="blockinstance_6234">
            <h3 class="title panel-heading js-heading">
            

            Cleaning the UI, adding visual indicators
            


            

        </h3>
    

    <div class="block"  id="blockinstance_6234_target" data-blocktype-noajax="6234">
        <div class="imageblock panel-body" itemscope itemtype="http://schema.org/ImageObject">
    <div class="image">
        <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=187136&amp;view=1459">
            <img src="../../files/file/2016-09-08-14-03-33.png" alt="2016-09-08-14-03-33.png" itemprop="contentURL">
        </a>
    </div>

    
</div>

    <div class="comments pull-left">
        
                    <a class="addcomment link-blocktype" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=1459&amp;artefact=187136">
                <span class="icon icon-arrow-circle-right" role="presentation" aria-hidden="true"></span>
                Add comment
            </a>
        
    </div>

    <div class="feedback modal modal-docked" id="feedbacktable_6234">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <button class="deletebutton close" data-dismiss="modal-docked">
                        <span class="times">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title pull-left">
                        <span class="icon icon-lg icon-comments left" role="presentation" aria-hidden="true"></span>
                        Comments - 2016-09-08-14-03-33.png
                    </h4>
                                        <a class="addcomment pull-right" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=1459&amp;artefact=187136">
                        Add comment
                        <span class="icon icon-arrow-right right" role="presentation" aria-hidden="true"></span>
                    </a>
                    
                </div>
                <div class="modal-body flush">
                <!-- The "feedbacktable" class is used as an identifier by Javascript -->
<div class="list-group list-group-lite">

</div>

                </div>
            </div>
        </div>
    </div>




        
                            <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=187136&amp;view=1459&amp;block=6234" class="detail-link link-blocktype"><span class="icon icon-link" role="presentation" aria-hidden="true"></span> Details</a>
            
        
    </div>
</div>
<div class="bt-image panel panel-secondary clearfix " id="blockinstance_6232">
            <h3 class="title panel-heading js-heading">
            

            Feedback form I added
            


            

        </h3>
    

    <div class="block"  id="blockinstance_6232_target" data-blocktype-noajax="6232">
        <div class="imageblock panel-body" itemscope itemtype="http://schema.org/ImageObject">
    <div class="image">
        <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=187134&amp;view=1459">
            <img src="../../files/file/2016-09-08-14-02-26.png" alt="2016-09-08-14-02-26.png" itemprop="contentURL">
        </a>
    </div>

    
</div>

    <div class="comments pull-left">
        
                    <a class="addcomment link-blocktype" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=1459&amp;artefact=187134">
                <span class="icon icon-arrow-circle-right" role="presentation" aria-hidden="true"></span>
                Add comment
            </a>
        
    </div>

    <div class="feedback modal modal-docked" id="feedbacktable_6232">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <button class="deletebutton close" data-dismiss="modal-docked">
                        <span class="times">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title pull-left">
                        <span class="icon icon-lg icon-comments left" role="presentation" aria-hidden="true"></span>
                        Comments - 2016-09-08-14-02-26.png
                    </h4>
                                        <a class="addcomment pull-right" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=1459&amp;artefact=187134">
                        Add comment
                        <span class="icon icon-arrow-right right" role="presentation" aria-hidden="true"></span>
                    </a>
                    
                </div>
                <div class="modal-body flush">
                <!-- The "feedbacktable" class is used as an identifier by Javascript -->
<div class="list-group list-group-lite">

</div>

                </div>
            </div>
        </div>
    </div>




        
                            <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=187134&amp;view=1459&amp;block=6232" class="detail-link link-blocktype"><span class="icon icon-link" role="presentation" aria-hidden="true"></span> Details</a>
            
        
    </div>
</div>

    </div>
</div>
<div id="row_2_column_3" class="column-layout columns3 last col-width-25" style="width:23%;">
    <div class="column-content">
        <div class="bt-image panel panel-secondary clearfix " id="blockinstance_6233">
            <h3 class="title panel-heading js-heading">
            

            Delete Account
            


            

        </h3>
    

    <div class="block"  id="blockinstance_6233_target" data-blocktype-noajax="6233">
        <div class="imageblock panel-body" itemscope itemtype="http://schema.org/ImageObject">
    <div class="image">
        <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=187135&amp;view=1459">
            <img src="../../files/file/2016-09-08-14-02-37.png" alt="2016-09-08-14-02-37.png" itemprop="contentURL">
        </a>
    </div>

    
</div>

    <div class="comments pull-left">
        
                    <a class="addcomment link-blocktype" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=1459&amp;artefact=187135">
                <span class="icon icon-arrow-circle-right" role="presentation" aria-hidden="true"></span>
                Add comment
            </a>
        
    </div>

    <div class="feedback modal modal-docked" id="feedbacktable_6233">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <button class="deletebutton close" data-dismiss="modal-docked">
                        <span class="times">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title pull-left">
                        <span class="icon icon-lg icon-comments left" role="presentation" aria-hidden="true"></span>
                        Comments - 2016-09-08-14-02-37.png
                    </h4>
                                        <a class="addcomment pull-right" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=1459&amp;artefact=187135">
                        Add comment
                        <span class="icon icon-arrow-right right" role="presentation" aria-hidden="true"></span>
                    </a>
                    
                </div>
                <div class="modal-body flush">
                <!-- The "feedbacktable" class is used as an identifier by Javascript -->
<div class="list-group list-group-lite">

</div>

                </div>
            </div>
        </div>
    </div>




        
                            <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=187135&amp;view=1459&amp;block=6233" class="detail-link link-blocktype"><span class="icon icon-link" role="presentation" aria-hidden="true"></span> Details</a>
            
        
    </div>
</div>
<div class="bt-image panel panel-secondary clearfix " id="blockinstance_6236">
            <h3 class="title panel-heading js-heading">
            

            Cleaning the UI #2
            


            

        </h3>
    

    <div class="block"  id="blockinstance_6236_target" data-blocktype-noajax="6236">
        <div class="imageblock panel-body" itemscope itemtype="http://schema.org/ImageObject">
    <div class="image">
        <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=187139&amp;view=1459">
            <img src="../../files/file/2016-09-08-14-34-13.png" alt="2016-09-08-14-34-13.png" itemprop="contentURL">
        </a>
    </div>

    
</div>

    <div class="comments pull-left">
        
                    <a class="addcomment link-blocktype" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=1459&amp;artefact=187139">
                <span class="icon icon-arrow-circle-right" role="presentation" aria-hidden="true"></span>
                Add comment
            </a>
        
    </div>

    <div class="feedback modal modal-docked" id="feedbacktable_6236">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <button class="deletebutton close" data-dismiss="modal-docked">
                        <span class="times">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title pull-left">
                        <span class="icon icon-lg icon-comments left" role="presentation" aria-hidden="true"></span>
                        Comments - 2016-09-08-14-34-13.png
                    </h4>
                                        <a class="addcomment pull-right" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=1459&amp;artefact=187139">
                        Add comment
                        <span class="icon icon-arrow-right right" role="presentation" aria-hidden="true"></span>
                    </a>
                    
                </div>
                <div class="modal-body flush">
                <!-- The "feedbacktable" class is used as an identifier by Javascript -->
<div class="list-group list-group-lite">

</div>

                </div>
            </div>
        </div>
    </div>




        
                            <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=187139&amp;view=1459&amp;block=6236" class="detail-link link-blocktype"><span class="icon icon-link" role="presentation" aria-hidden="true"></span> Details</a>
            
        
    </div>
</div>

    </div>
</div>

    </div>
</div>
<div id="row_3" class="clearfix">
    <div class="row-content">
    <div id="row_3_column_1" class="column-layout columns1 first last col-width-100" style="width: 100%;">
    <div class="column-content">
        <div class="bt-text panel panel-secondary clearfix " id="blockinstance_6229">
            <h3 class="title panel-heading js-heading">
            

            Closing thoughts 
            


            

        </h3>
    

    <div class="block"  id="blockinstance_6229_target" data-blocktype-noajax="6229">
        <div class="textblock panel-body flush">
<p>Open day was a hit, people were really interested in our work. We got around 50 sign ups, according to the results of the form. What remains next is to see how the internal presentation goes on Friday. Feedback, and especially from people not affiliated with the project, is all that we need right now. We, the team members, are positively biased towards our project, so we need to rely on others to point out our oversights.</p>
<p>In general, however, what we've gotten so far from the tutor meetings is really encouraging. It shows that we are on the right track. I've included my review from the tutor meeting in week 6 as evidence, down below. We are performing better than the TechLauncher average.</p>
<p>Other than that, we are ready to shift to full gear mode. I'm ready to commit to PairFit during the holidays, as is the rest of the team. Our plan is to get together and develop at least 3-4 times per week (in contrast to the one joint development session we have during the semester). Hopefully, we'll be able to get most of the remaining functionality done, and get the whole team to work on testing and scaling. Since we're also saving user information, there are legal matters and data retention laws we need to comply with.</p>
<p>Hopefully, the break will be very productive for the project. The tasks have started becoming a bit monotonous. Everything we do is either GUI refinement or bug fixing. I can't wait to get these out of the way, so we can focus on other things as well. For example, I haven't really released an app before, so I would be interested to see how the whole app submission-review-acceptance process is like, especially for Android, given that I have some past Java projects that could potentially be useful to other people.</p>
<p> </p>
<p> </p>
</div>


        
    </div>
</div>
<div class="bt-pdf panel panel-secondary clearfix " id="blockinstance_6235">
            <h3 class="title panel-heading js-heading">
            

            Week 6 feedback
            


            

        </h3>
    

    <div class="block"  id="blockinstance_6235_target" data-blocktype-noajax="6235">
        <div class="panel-body">
<iframe src="https://eportfolio.anu.edu.au/artefact/file/blocktype/pdf/viewer.php?editing=&ingroup=&file=186605&lang=en&view=1459" width="100%" height="500" frameborder="0"></iframe>
</div>
    <div class="comments pull-left">
        
                    <a class="addcomment link-blocktype" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=1459&amp;artefact=186605">
                <span class="icon icon-arrow-circle-right" role="presentation" aria-hidden="true"></span>
                Add comment
            </a>
        
    </div>

    <div class="feedback modal modal-docked" id="feedbacktable_6235">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <button class="deletebutton close" data-dismiss="modal-docked">
                        <span class="times">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title pull-left">
                        <span class="icon icon-lg icon-comments left" role="presentation" aria-hidden="true"></span>
                        Comments - week06_Review_Feedback.pdf
                    </h4>
                                        <a class="addcomment pull-right" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=1459&amp;artefact=186605">
                        Add comment
                        <span class="icon icon-arrow-right right" role="presentation" aria-hidden="true"></span>
                    </a>
                    
                </div>
                <div class="modal-body flush">
                <!-- The "feedbacktable" class is used as an identifier by Javascript -->
<div class="list-group list-group-lite">

</div>

                </div>
            </div>
        </div>
    </div>




        
                            <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=186605&amp;view=1459&amp;block=6235" class="detail-link link-blocktype"><span class="icon icon-link" role="presentation" aria-hidden="true"></span> Details</a>
            
        
    </div>
</div>

    </div>
</div>

    </div>
</div>




            </main>
          </div>
        </div>
        <div id="footer">
            <p>Export generated for Emmanuel Morfiadakis on 02 July 2018, 12:14 AM, from their portfolio at <a href="https://eportfolio.anu.edu.au/">ANU ePortfolios</a></p>
        </div>
    </body>
</html>

