<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
        <title>Emmanuel Morfiadakis - Portfolio</title>
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/export/style/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/export/style/print.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/anu/static/export/style/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/anu/static/export/style/print.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/style/views.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/style/tinymce.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/style/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/style/style-blessed1.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/style/datepicker.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw_old/static/style/cookieconsent.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/anu/static/style/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/anu/static/style/style-blessed1.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/local/static/style/style-dist.css">

    </head>
    <body>
        <header class="header navbar navbar-default no-site-messages">
            <div class="container">
                <div class="logo-area" id="logo-area">
                    <!-- Hardcoded url to ANU website -->
                    <a class="logo" href="http://www.anu.edu.au">
                        <img alt="ANU ePortfolios" src="../../static/theme/anu/static/images/site-logo.png">
                    </a>
                </div>
            </div>
         </header>
         <div class="main-content-container">
           <div class="container main-content">
              <div class="row">
                <main id="main" class="main">
                  <h1><a href="../../index.html">Mid semester break</a></h1>
                  <div id="content">
                    <div id="breadcrumbs" class="breadcrumbs">
                    <ul>
                        <li>You are here: <a href="../../index.html">Home</a></li>
                            <li>&raquo; Pages</li>
                            <li>&raquo; <a href="index.html">Mid semester break</a></li>
    
                    </ul>
                  </div>
                  <div id="breadcrumbs-footer"></div>


<div class="breadcrumbs collection">
   <ul>
     <li class="collectionname">COMP3100 Semester 2 portfolio</li>
     | <li><a href="../../views/%57%65%65%6b%2d%33/index.html">Week 3</a></li>
     | <li><a href="../../views/%57%65%65%6b%2d%34/index.html">Week 4</a></li>
     | <li><a href="../../views/%57%65%65%6b%2d%36/index.html">Week 6</a></li>
     | <li><a href="../../views/%57%65%65%6b%2d%37/index.html">Week 7</a></li>
     | <li class="selected"><a href="../../views/%4d%69%64%2d%73%65%6d%65%73%74%65%72%2d%62%72%65%61%6b/index.html">Mid semester break</a></li>
     | <li><a href="../../views/%57%65%65%6b%2d%38%2d%61%6e%64%2d%57%65%65%6b%2d%39/index.html">Week 8 and Week 9</a></li>
     | <li><a href="../../views/%57%65%65%6b%2d%31%30/index.html">Week 10</a></li>
     | <li><a href="../../views/%57%65%65%6b%2d%31%31/index.html">Week 11</a></li>
     | <li><a href="../../views/%46%69%6e%61%6c%2d%45%6e%74%72%79%2d/index.html">Final Entry </a></li>

   </ul>
</div>
<div class="cb"></div>


<p id="view-description"><div id="user_view-description" class="view-description">
<p>COMP3100 portfolio entry #5</p>
</div></p>

<div id="row_1" class="clearfix">
    <div class="row-content">
    <div id="row_1_column_1" class="column-layout columns1 first last col-width-100" style="width: 100%;">
    <div class="column-content">
        <div class="bt-text panel panel-secondary clearfix " id="blockinstance_6831">
            <h3 class="title panel-heading js-heading">
            

             Where we are now
            


            

        </h3>
    

    <div class="block"  id="blockinstance_6831_target" data-blocktype-noajax="6831">
        <div class="textblock panel-body flush">
<p>Even though we are not required to work during the break, most of us agree that we should use this lecture-free period to focus as much as we can on the project, and start putting things together before we release the app.</p>
<p>Our plans have slightly changed yet again. Instead of just making the app available to everyone out there, in a public beta, we decided to have another private release, that is invite only. This would be similar to the focus group we had earlier this year, but the scope is larger this time, as we are aiming at 50-200 people. Again, we want to see what the users think of our work. But, the main difference with respect to the focus group is that we also want to test our infrastructure, and make sure it can handle a reasonable number of concurrent users. In addition, we are having some trouble recreating some really specific bugs. It is our intention that with the help of beta testers, we will be able to spot them and fix them much faster.</p>
<p>As such, we've put testing on hold (yet again). At the moment, we are trying to finalise some of the functionality and features, in particular, creating fitness events and inviting people to them. In addition, we are trying to make the app as stable as it gets. Even though the scope of the release and the audience have gotten smaller, it is still important that we offer a product that is as stable as possible.</p>
</div>


        
    </div>
</div>

    </div>
</div>

    </div>
</div>
<div id="row_2" class="clearfix">
    <div class="row-content">
    <div id="row_2_column_1" class="column-layout columns2 first col-width-67" style="width:65%;">
    <div class="column-content">
        <div class="bt-text panel panel-secondary clearfix " id="blockinstance_6839">
            <h3 class="title panel-heading js-heading">
            

            My contributions this week
            


            

        </h3>
    

    <div class="block"  id="blockinstance_6839_target" data-blocktype-noajax="6839">
        <div class="textblock panel-body flush">
<p>Over the midsem break, I did dedicate a lot of time to the project and tried to help as much as I can. Even though I am not a team leader, I feel like it is my responsibility to ensure that the project doesn't go off track and everything proceeds as smoothly as possible.</p>
<p>For starters, AJ (one of the team leaders) was able to negotiate a desk in <a href="http://entry29.org.au/">Entry 29,</a> for the duration of the break, and I joined him for a coding and networking session. I was able to meet <a href="https://www.linkedin.com/pub/mark-reed/3/756/61b">Mark Reed</a>, a mentor of our startup, that I didn't have the chance to talk to before. In addition, I got the chance to meet and talk to some other startup entrepreneurs (working at <a href="http://neucode.co/">neucode</a> and <a href="http://signonsite.com.au/">SignOnSite</a>). What's more important is that I was able to find a nice and productive space to work on the project. The fast internet speed was also a plus as well :).</p>
<p>Other than attending meetings and networking with others, I also contributed a lot of code to the project.</p>
<p>In particular, I did spend a lot of time fixing features that weren't properly tested by other before. This was a really huge issue and this is where I spent the majority of my time. Recently, we made some changes to some API method calls, at the server backend. Unfortunately, these were not properly documented, and refactoring is not possible, since the Ionic framework does not appear to have any IDE's. As such, most of these changes had to be done manually, and as a result, some parts of the code base were not updated (we are human, after all). As such, my tasks were to find and update the obsolete API calls.</p>
<p>In terms of functionality, I had to configure some parts of the project, in order to improve the overall experience. Ionic projects use a file called config.xml to configure options for mobile users, such as whether or not the app will run in fullscreen mode, the option to disable the scrolling bar, changing permissions, and so on. What I did was edit these options, in accordance to what we need. For example, in order to improve safety, I blacklisted all HTTP redirects, other than the ones to PairFit's server, and I disabled some permissions that are not required by the app, such as Bluetooth or reading Emails. Even though I haven't had much experience with XML before, <a href="https://cordova.apache.org/docs/en/latest/config_ref/">Cordova's tutorial</a> really helped me get started.</p>
<p>And to finish things off, I also tried to go through the app as a new user, and try to uncover inconsistencies and bugs. After coming across a new issue, I would then create an appropriate task in Jira. I didn't have time to focus on fixing these, as I already had my hands full, but knowing the existing issues would certainly help us in the future, when we can add them to sprints.</p>
</div>


        
    </div>
</div>
<div class="bt-image panel panel-secondary clearfix " id="blockinstance_6854">
            <h3 class="title panel-heading js-heading">
            

            Git commits during the midsem break
            


            

        </h3>
    

    <div class="block"  id="blockinstance_6854_target" data-blocktype-noajax="6854">
        <div class="imageblock panel-body" itemscope itemtype="http://schema.org/ImageObject">
    <div class="image">
        <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=188824&amp;view=1460">
            <img src="../../files/file/Git_cumulative.png" alt="Git_cumulative.png" itemprop="contentURL">
        </a>
    </div>

    
</div>

    <div class="comments pull-left">
        
                    <a class="addcomment link-blocktype" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=1460&amp;artefact=188824">
                <span class="icon icon-arrow-circle-right" role="presentation" aria-hidden="true"></span>
                Add comment
            </a>
        
    </div>

    <div class="feedback modal modal-docked" id="feedbacktable_6854">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <button class="deletebutton close" data-dismiss="modal-docked">
                        <span class="times">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title pull-left">
                        <span class="icon icon-lg icon-comments left" role="presentation" aria-hidden="true"></span>
                        Comments - Git_cumulative.png
                    </h4>
                                        <a class="addcomment pull-right" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=1460&amp;artefact=188824">
                        Add comment
                        <span class="icon icon-arrow-right right" role="presentation" aria-hidden="true"></span>
                    </a>
                    
                </div>
                <div class="modal-body flush">
                <!-- The "feedbacktable" class is used as an identifier by Javascript -->
<div class="list-group list-group-lite">

</div>

                </div>
            </div>
        </div>
    </div>




        
                            <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=188824&amp;view=1460&amp;block=6854" class="detail-link link-blocktype"><span class="icon icon-link" role="presentation" aria-hidden="true"></span> Details</a>
            
        
    </div>
</div>

    </div>
</div>
<div id="row_2_column_2" class="column-layout columns2 last col-width-33" style="width:31%;">
    <div class="column-content">
        <div class="bt-image panel panel-secondary clearfix " id="blockinstance_6851">
            <h3 class="title panel-heading js-heading">
            

            At entry29 with AJ
            


            

        </h3>
    

    <div class="block"  id="blockinstance_6851_target" data-blocktype-noajax="6851">
        <div class="imageblock panel-body" itemscope itemtype="http://schema.org/ImageObject">
    <div class="image">
        <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=188820&amp;view=1460">
            <img src="../../files/file/received_331579013847905.jpeg.1" alt="received_331579013847905.jpeg.1" itemprop="contentURL">
        </a>
    </div>

    
</div>

    <div class="comments pull-left">
        
                    <a class="addcomment link-blocktype" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=1460&amp;artefact=188820">
                <span class="icon icon-arrow-circle-right" role="presentation" aria-hidden="true"></span>
                Add comment
            </a>
        
    </div>

    <div class="feedback modal modal-docked" id="feedbacktable_6851">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <button class="deletebutton close" data-dismiss="modal-docked">
                        <span class="times">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title pull-left">
                        <span class="icon icon-lg icon-comments left" role="presentation" aria-hidden="true"></span>
                        Comments - received_331579013847905.jpeg.1
                    </h4>
                                        <a class="addcomment pull-right" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=1460&amp;artefact=188820">
                        Add comment
                        <span class="icon icon-arrow-right right" role="presentation" aria-hidden="true"></span>
                    </a>
                    
                </div>
                <div class="modal-body flush">
                <!-- The "feedbacktable" class is used as an identifier by Javascript -->
<div class="list-group list-group-lite">

</div>

                </div>
            </div>
        </div>
    </div>




        
                            <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=188820&amp;view=1460&amp;block=6851" class="detail-link link-blocktype"><span class="icon icon-link" role="presentation" aria-hidden="true"></span> Details</a>
            
        
    </div>
</div>
<div class="bt-image panel panel-secondary clearfix " id="blockinstance_8701">
            <h3 class="title panel-heading js-heading">
            

            Fixing permissions of the app on Android
            


            

        </h3>
    

    <div class="block"  id="blockinstance_8701_target" data-blocktype-noajax="8701">
        <div class="imageblock panel-body" itemscope itemtype="http://schema.org/ImageObject">
    <div class="image">
        <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=193461&amp;view=1460">
            <img src="../../files/file/QuickMemo+_2016-10-23-22-19-06.png" alt="QuickMemo+_2016-10-23-22-19-06.png" itemprop="contentURL">
        </a>
    </div>

    
</div>

    <div class="comments pull-left">
        
                    <a class="addcomment link-blocktype" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=1460&amp;artefact=193461">
                <span class="icon icon-arrow-circle-right" role="presentation" aria-hidden="true"></span>
                Add comment
            </a>
        
    </div>

    <div class="feedback modal modal-docked" id="feedbacktable_8701">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <button class="deletebutton close" data-dismiss="modal-docked">
                        <span class="times">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title pull-left">
                        <span class="icon icon-lg icon-comments left" role="presentation" aria-hidden="true"></span>
                        Comments - QuickMemo+_2016-10-23-22-19-06.png
                    </h4>
                                        <a class="addcomment pull-right" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=1460&amp;artefact=193461">
                        Add comment
                        <span class="icon icon-arrow-right right" role="presentation" aria-hidden="true"></span>
                    </a>
                    
                </div>
                <div class="modal-body flush">
                <!-- The "feedbacktable" class is used as an identifier by Javascript -->
<div class="list-group list-group-lite">

</div>

                </div>
            </div>
        </div>
    </div>




        
                            <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=193461&amp;view=1460&amp;block=8701" class="detail-link link-blocktype"><span class="icon icon-link" role="presentation" aria-hidden="true"></span> Details</a>
            
        
    </div>
</div>

    </div>
</div>

    </div>
</div>
<div id="row_3" class="clearfix">
    <div class="row-content">
    <div id="row_3_column_1" class="column-layout columns3 first col-width-33" style="width:31%;">
    <div class="column-content">
        <div class="bt-image panel panel-secondary clearfix " id="blockinstance_6852">
            <h3 class="title panel-heading js-heading">
            

            Main contributions during the midsem break
            


            

        </h3>
    

    <div class="block"  id="blockinstance_6852_target" data-blocktype-noajax="6852">
        <div class="imageblock panel-body" itemscope itemtype="http://schema.org/ImageObject">
    <div class="image">
        <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=188821&amp;view=1460">
            <img src="../../files/file/Git.png" alt="Git.png" itemprop="contentURL">
        </a>
    </div>

    
</div>

    <div class="comments pull-left">
        
                    <a class="addcomment link-blocktype" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=1460&amp;artefact=188821">
                <span class="icon icon-arrow-circle-right" role="presentation" aria-hidden="true"></span>
                Add comment
            </a>
        
    </div>

    <div class="feedback modal modal-docked" id="feedbacktable_6852">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <button class="deletebutton close" data-dismiss="modal-docked">
                        <span class="times">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title pull-left">
                        <span class="icon icon-lg icon-comments left" role="presentation" aria-hidden="true"></span>
                        Comments - Git.png
                    </h4>
                                        <a class="addcomment pull-right" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=1460&amp;artefact=188821">
                        Add comment
                        <span class="icon icon-arrow-right right" role="presentation" aria-hidden="true"></span>
                    </a>
                    
                </div>
                <div class="modal-body flush">
                <!-- The "feedbacktable" class is used as an identifier by Javascript -->
<div class="list-group list-group-lite">

</div>

                </div>
            </div>
        </div>
    </div>




        
                            <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=188821&amp;view=1460&amp;block=6852" class="detail-link link-blocktype"><span class="icon icon-link" role="presentation" aria-hidden="true"></span> Details</a>
            
        
    </div>
</div>

    </div>
</div>
<div id="row_3_column_2" class="column-layout columns3 col-width-33" style="width:31%;">
    <div class="column-content">
        <div class="bt-image panel panel-secondary clearfix " id="blockinstance_6853">
            <h3 class="title panel-heading js-heading">
            

            Cumulative flow diagram of tasks I&#039;ve been assigned
            


            

        </h3>
    

    <div class="block"  id="blockinstance_6853_target" data-blocktype-noajax="6853">
        <div class="imageblock panel-body" itemscope itemtype="http://schema.org/ImageObject">
    <div class="image">
        <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=188822&amp;view=1460">
            <img src="../../files/file/Issues.png" alt="Issues.png" itemprop="contentURL">
        </a>
    </div>

    
</div>

    <div class="comments pull-left">
        
                    <a class="addcomment link-blocktype" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=1460&amp;artefact=188822">
                <span class="icon icon-arrow-circle-right" role="presentation" aria-hidden="true"></span>
                Add comment
            </a>
        
    </div>

    <div class="feedback modal modal-docked" id="feedbacktable_6853">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <button class="deletebutton close" data-dismiss="modal-docked">
                        <span class="times">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title pull-left">
                        <span class="icon icon-lg icon-comments left" role="presentation" aria-hidden="true"></span>
                        Comments - Issues.png
                    </h4>
                                        <a class="addcomment pull-right" href="https://eportfolio.anu.edu.au/artefact/artefact.php?view=1460&amp;artefact=188822">
                        Add comment
                        <span class="icon icon-arrow-right right" role="presentation" aria-hidden="true"></span>
                    </a>
                    
                </div>
                <div class="modal-body flush">
                <!-- The "feedbacktable" class is used as an identifier by Javascript -->
<div class="list-group list-group-lite">

</div>

                </div>
            </div>
        </div>
    </div>




        
                            <a href="https://eportfolio.anu.edu.au/artefact/artefact.php?artefact=188822&amp;view=1460&amp;block=6853" class="detail-link link-blocktype"><span class="icon icon-link" role="presentation" aria-hidden="true"></span> Details</a>
            
        
    </div>
</div>

    </div>
</div>
<div id="row_3_column_3" class="column-layout columns3 last col-width-33" style="width:31%;">
    <div class="column-content">
        
    </div>
</div>

    </div>
</div>
<div id="row_4" class="clearfix">
    <div class="row-content">
    <div id="row_4_column_1" class="column-layout columns1 first last col-width-100" style="width: 100%;">
    <div class="column-content">
        <div class="bt-text panel panel-secondary clearfix " id="blockinstance_6840">
            <h3 class="title panel-heading js-heading">
            

            Closing thoughts 
            


            

        </h3>
    

    <div class="block"  id="blockinstance_6840_target" data-blocktype-noajax="6840">
        <div class="textblock panel-body flush">
<p>I'm quite happy with my contributions over the break, we did squash a lot of bugs and I'm confident that the project is going in the right direction. However, some of the team members were not able to perform at a similar level. Some issues that we had was untested code being pushed, tasks not being completed (on time or at all), code being randomly deleted after accidentally merging conflicting parts of the codebase and so on. I believe that if the team was more focused, we would perhaps be able to release the app to the public, instead of having another beta release. I sort of believe that this is why the team leaders and the client decided to postpone the public launch for a while, it doesn't look like we are quite ready yet. Hopefully the beta will just be the push to the right direction we are waiting for. I'm looking forward to next week.</p>
</div>


        
    </div>
</div>

    </div>
</div>

    </div>
</div>




            </main>
          </div>
        </div>
        <div id="footer">
            <p>Export generated for Emmanuel Morfiadakis on 02 July 2018, 12:14 AM, from their portfolio at <a href="https://eportfolio.anu.edu.au/">ANU ePortfolios</a></p>
        </div>
    </body>
</html>

